<section id="product-grid">
	<div class="category-grid">
	{% for search_result in search_array %}
          
		<div class="product-tile">
			<div class="product-shot">
			    
				<img src="{{ search_result.url }}" />
				<div class="product-bg"></div>
			</div>
			<h3>{{search_result.title }}</h3>
			<p>{{search_result.range }}</p>
			
		</div>
	{% endfor %}
	</div>
	</div>
</section>

