<div class="sign-up">
    <div class="row sign-up-text-wrapper">
        {%- if content.field_signup_text.0 -%}               
        <h3 class="sign-up-text header_c">{{ content.field_signup_text.0 }}</h3>
        {%- endif -%} 
        {%- if content.field_signup.content and content.field_signup.label -%}
        <a href="{{ content.field_signup.url }}" class="cta secondary-dark">{{ content.field_signup.label }}</a>
        {%- endif -%}
    </div>
</div>
