<div class="carousal-top-wrapper">
<div class="our-perspective container-fluid">
  <h2 class="header_f">{{ fields.field_our_perspective_subheading.content |upper |raw }}</h2>
  <h3 class="header_a">{{ fields.field_our_perspective_headline.content |upper |raw }}</h3>
  <p>{{ fields.field_our_perspective_desc.content }}</p>
</div>
{{ fields.view.content }}
</div>





			

	
	
