 <div id="follow-us">
	<div class="inner-wrapper">
	{{ fields.view.content }}
	</div>
	    <div class="follow-us-text">
			<a href="" class="hashtag">{{ fields.field_instagram_hashtag.content }}</a>
			<h2 class="follow-text">{{ fields.field_instagram_tagline.content }}</h2>
			<a href="" class="icon-Instagram">{{ fields.field_social_feed_instagram_link.content }}</a>
		</div>
</div>
 