<div class="pages">
    <h2 class="header_d">{{ fields.title.content }}</h2>
    <ul class="page-list">
      <li>Brancott Estate Sauvignon Blanc</li>
      <li>Brancott Estate Sauvignon Blanc</li>
      <li>Brancott Estate Sauvignon Blanc</li>
      <li>Brancott Estate Sauvignon Blanc</li>
      <li>Brancott Estate Sauvignon Blanc</li>
      <li>Brancott Estate Sauvignon Blanc</li>
    </ul>
  </div>
