 
    <div class="bottle">
    <div class="background"></div>
      <img src="{{ fields.field_wine_bottle_image.content }}" alt="{{ fields.field_wine_bottle_image_1.content }}" class="bottle" />
      <h3 class="header_g">{{ wine_range }}</h3>
      <h4 class="header_d">{{ wine_title }}</h4>
   
  </div>


