<div class="inner-wrapper">
    <a href="{{ fields.field_stockist_items_ref_link.content }}"> <img width="179" height="49" src="{{ fields.field_stockist_items_image.content }}" alt="{{ fields.field_stockist_items_image_1.content }}" /> </a>
    <span class="header_c">
        {{ fields.field_stockist_items_caption.content }}
    </span>
</div>