<div id="hero-component" class="container-fluid  hero-container common-hero">
    <div class="banner-image" style="background-image: url('{{ fields.field_hero_background_image.content }}')" alt="{{ fields.field_hero_background_image_1.content }} "></div>
    <div class="hero-bottom">
       
        <picture>
            <source class="triangle" media="(max-width: 321px)" srcset="/sites/brancottvanilla.dev.dd/files/2017-03/_2x_landscape-triangle-320_7.png"> 

            <source class="triangle" media="(max-width: 691px)" srcset="/sites/brancottvanilla.dev.dd/files/2017-03/_2x_landscape-triangle-691_6.png"> 

            <source class="triangle" media="(max-width: 991px)" srcset="/sites/brancottvanilla.dev.dd/files/2017-03/_2x_landscape-triangle-991_6.png">

            <source class="triangle" media="(max-width: 1401px)" srcset="/sites/brancottvanilla.dev.dd/files/2017-03/_2x_landscape-triangle-1400_9.png"> 
            <img src="/sites/brancottvanilla.dev.dd/files/2017-03/_2x_landscape-triangle-1400_9.png" alt="triangle image" class="triangle">
        </picture>
        <picture>
            <source class="triangle-right" media="(max-width: 321px)" srcset="/sites/brancottvanilla.dev.dd/files/2017-03/_2x_grain-triangle-320_9.png"> 

            <source class="triangle-right" media="(max-width: 691px)" srcset="/sites/brancottvanilla.dev.dd/files/2017-03/_2x_grain-triangle-691_5.png"> 

            <source class="triangle-right" media="(max-width: 991px)" srcset="/sites/brancottvanilla.dev.dd/files/2017-03/_2x_grain-triangle-991_5.png">

            <source class="triangle-right" media="(max-width: 1401px)" srcset="/sites/brancottvanilla.dev.dd/files/2017-03/_2x_grain-triangle-1400_5.png"> 

            <img class="triangle-right" src="/sites/brancottvanilla.dev.dd/files/2017-03/_2x_grain-triangle-1400_5.png" alt=""> 
        </picture>


    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 hero-inner-container">
                    <span class="header_f">{{ fields.field_story_subheading.content }}</span>
        	
        <h1 class="header_a">{{ fields.field_hero_heading.content }}</h1>

       
        	
    </div>
</div>