<div class="stockists-where-to-buy">
    <h2 class="col-md-6 col-lg-6">{{ fields.field_stockist_heading.content }}</h2>
    <p>{{ fields.field_stockist_description.content }}</p>
    <div class="logo-text-container">{{ fields.view.content }}</div>
</div>
