@import "sapient.variables-mixins.less";
.age-gate-container{
	
	background-color:green;
	.centerBoth();
	margin-top: 100px;
	width: 660px;

	.form-wrapper {
		margin: 0 auto;
		width:370px;
		
		.form-info {
			text-align: center;
			
			.age-gate-info {
				color: @dark-gray;
			}
		}
		
		form.age-gate-form {
			.group {
				margin-bottom: 50px;
			}
		}
	}
}