#product-grid {
	text-align: center;

	.category-wrapper {
		padding: 100px 0;

		&:nth-child(odd) {
			background-image: @grain-noise-img;
		}
	}

	.category-header {
		margin: 0 auto 40px;
		max-width: 770px;
		
		span {
				font-size: 16px;
				letter-spacing: normal;
				line-height: 26px;
			}

		.see-more,
		.see-less {
			display: none;
		}

		.see-less {
			display: none;
		}

		.extra-text {
			display: inline;
		}

		.ellipses {
			display: none;
		}


		.title-tag {
			font-size: 12px;
			font-family: "NeutraText Bold";
		}
		
		h2 {
			color: @dark-gray;
			font-family: "NeutraText Bold";
			margin-bottom: 20px;
		}
	}
}

#response-wrapper {
	.category-grid {
		margin: 0 auto;
		max-width: 1170px;
		font-size: 0;

		.product-tile {
			display: inline-block;
			font-size: 0;
			margin: 0 1%;
			vertical-align: top;
			width: 270px;

			@media screen and (min-width: 1170px) {
				&:first-child,
				&:nth-child(4n+1) {
					margin-left: 0;
				}

				&:last-child,
				&:nth-child(4n) {
					margin-right: 0;
				}
			}
			.product-shot {
				padding: 60px 0 0;
				position: relative;
				margin-bottom: 24px;
				img {
					max-width: 110px;
					position: relative;
					transition: all .25s;
					transform: scale(.95);
					width: 100%;
					z-index: 1;

					&.primary {
						left: -10%;
						z-index: 2;
					}
					&.secondary {
						left: 40%;
						position: absolute;
						transform: scale(.8);
						z-index: 1;
					}
				}
				.product-bg {
					background-color: #cbd879;
					bottom: 0;
					height: 100%;
					left: 0;
					height: 270px;
					position: absolute;
					right: 0;
					width: 100%;
				}
			}

			h3 {
				color: @dark-gray;
				font-family: "NeutraText Bold";
				font-size: 12px;
				line-height: 1;
				margin-bottom: 10px;
			}

			p {
				font-family: "NeutraText Book";
			}

			&:hover,
			&:focus {
				color: @bright-green;

				h3 {
					color: @bright-green;
				}

				.product-shot {
					img {
						transform: scale(1.0);

						&.secondary {
							transform: scale(0.85);
						}
					}	
				}
			}
		}
	}
}

@media screen and (min-width: 991px) and (max-width: 1170px) {
	#product-grid {
		.category-grid {
			margin: 0 75px;

			.product-tile {
				&:first-child,
				&:nth-child(3n+1) {
					margin-left: 0;
				}

				&:last-child,
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	#product-grid {
		.category-grid {
			.product-tile {
				&:first-child,
				&:nth-child(odd) {
					margin-left: 0;
				}

				&:last-child,
				&:nth-child(even) {
					margin-right: 0;
				}

			}
		}
	}
}


@media screen and (max-width: 690px) {
	#product-grid {

		.category-wrapper {
			padding: 30px 0;
		}
		.category-header,
		.category-grid {
			margin: 0 15px;
			
		.see-more,
		.see-less {
			color: @bright-green;
			font-family: "NeutraText Bold";
			font-size: 16px;
			letter-spacing: normal;
			line-height: 26px;
			margin-left:2px;
		}
		
		.ellipses {
			display: inline;
		}

		.see-more {
			display: inline;
		}
		.see-less {
			display: none;
		}
		
		.extra-text {
			display: none;
		}

		}
		.category-grid {
			.product-tile {
				.product-shot {
					.product-bg {
						margin: 0 auto;
						width: 270px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 480px) {
	#product-grid {
		.category-grid {
			.product-tile {
				width: 100%;
			}
		}
	}
}