#vineyard-follow-us {
	position: relative;
	.image-wrapper {
		.some-cls {
			float: left;
			.inner-container {
				a.image-link {
					display: block;
					float: left;
					width: 20%;
					
					img {
						height: auto;
						max-height: 320px;
						max-width: 320px;
						width: 100%;
					}
				}
			}
		}
		.follow-us-text {
			max-width: 320px;
		}
	}
}