@import "sapient.variables-mixins.less";
#open-filters {
	background-color: #1e7266;
	border: 0 none;
	color: #ffffff;
	display: block;
	letter-spacing: 2px;
	padding: 10px 50px;
	width: 100%;
}

#mobile-filters {
	background-color: #ffffff;
	bottom: 0;
	height: 100vh;
	display: none;
	letter-spacing: 2px;
	font-size: 16px;
	position: fixed;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	width: 100%;
	z-index: 100;
	&.filters-active {
		display: block;
	}
	#close-filters {
		background-color: transparent;
		border: 0 none;
		color: #ffffff;
		font-size: 16px;
		float: right;
		height: 24px;
		right: 10px;
		position: relative;
		top: 10px;
		width: 24px;
		z-index: 1;
	}
	h2 {
		background-color: #3e464b;
		color: #ffffff;
		font-size: 16px;
		font-weight: normal;
		letter-spacing: 2px;
		line-height: 24px;
		margin: 0;
		padding: 10px 0;
		text-align: center;
		width: 100%;
	}
	&.not-active {
		display: none;
	}
	#mobile-filters-scroll-wrapper {
		overflow-y: auto;
		position: relative;
		width: 100%;
	}
	ul.categories.nav {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;

		&.active {
			left: -100%;
			transition: all 1s;
		}
		li {
			background-color: #fff;
			border-bottom: solid 2px #e2f4fd;
			position: static;
			a {
				color: #3e464b;
				display: block;
				height: 60px;
				padding: 20px 0;
				text-decoration: none;

				img {
					position: relative;
					top: 4px;
					width: 14px;
				}

				&.category {
					img {
						float: right;
						right: 15px;
					}
				}

				&.sub-nav-return {
					background-color: #e2f4fd;
					font-size: 12px;
					height: 40px;
					padding: 12px 0;

					img {
						float: left;
						left: 15px;
					}
				}
			}
			& > a.iamalive + ul.sub-categories {
				display: block;
			}
			ul.sub-categories {
				display: none;
				padding: 0;
				position: absolute;
				right: -100%;
				top: 0;
				width: 100%;
				z-index: 1;
				li {
					list-style: none;
					margin: 0;
					padding: 0;

					p {
						font-size: 12px;
						text-transform: none;
					}

					a.sub-nav-item {
						border-bottom: solid 1px #e2f4fd;

						&:last-child {
							border-bottom: 0 none;
						}
					}
				}
			}
		}
	}
}