@import "sapient.variables-mixins.less";
* {
    box-sizing: border-box;
}

#tour-experience-component {
    .set-max-width(1170px);
    h2{
    	color: @dark-gray;
    	padding-bottom: 100px;
    }
    .header_sect {
        color: @dark-gray;
        font-family: "NeutraText Book";
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        line-height: 1.42;
        margin-bottom: 35px;
        text-align: left;
        width: 470px;
    }
    .cta {
        &:hover {
            border: 2px solid @bright-green;
        }
    }
    a {
        margin: 0;
        margin-bottom: 20px;
        padding: 19px 53px;
    }
    .tagline {
        font-size: 16px;
        text-align: center;
        font-family: "NeutraText Book";
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        letter-spacing: normal;
        margin-top: -10px;
        margin-bottom: 35px;
        min-width: 722px;
        padding-right: 10px;
        text-align: left;
    }
    .section-class {
        background-color: @white;
        display: table;
        margin: 0 auto;
        margin-bottom: 100px;
        position: relative;
        text-align: left;
        table-layout: fixed;
        .image-wrapper {
            display: table-cell;
            position: relative;
            vertical-align: middle;
        }
        .header-cta-wrapper {
            margin-top: -10px;
        }
        .content-wrapper {
            /*padding: 0 50px;*/
            display: table-cell;
            vertical-align: middle;
            width: 66%;
            h3 {
                color: @dark-gray;
                font-size: 14px;
                margin-top: -15px;
            }
        }
        &.img-left {
            .content-wrapper {
                /*padding-right: 53px;*/
                position: relative;
                padding-left: 40px;
                min-width: 800px;
            }
            .image-wrapper {
                img {
                    transform: translateX(0);
                }
            }
        }
    }
    @media screen and (max-width: @bp-large-mobile-to-table-landscape) {
        .desktop-only {
            display: none !important;
        }
        .section-class {
            background-color: transparent;
            display: block;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 30px;
            text-align: center;
            padding: 0;
            .header-cta-wrapper {
                margin-top: 0;
            }
            .image-wrapper {
                display: block;
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .header_sect {
                padding-top: 50px;
                width: 100%;
                text-align: center;
            }
            .tagline {
                min-width: 0;
                padding-right: 0;
                text-align: center;
            }
            .content-wrapper {
                display: block;
                width: 100%;
                background-color: @white;
                padding: 0;
                padding-bottom: 30px;
            }
            &.img-left {
                .content-wrapper {
                    min-width: 0;
                    padding-right: 3px;
                    padding: 0 10px;
                    width: 100%;
                }
                .image-wrapper {
                    img {
                        transform: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: @bp-max-mobile) {
    #tours-and-experience {
        a {
            min-width: 170px;
        }
    }
}

@media screen and (min-width: 991px) {
    #tours-and-experience {
        .mobile-only {
            display: none !important;
        }
    }
}

@media screen and (min-width: 980px) and (max-width: 1147px) { 

    #tour-experience-component {
        .section-class {
            &.img-left {

                .content-wrapper {
                    max-width: 800px;
                    min-width: initial;
                    width: 59%;

                    .tagline {
                        max-width: 700px;
                        min-width: initial;
                    }
                }

                .image-wrapper {
                    left: 40px;
                }
            }
        }    
    }
}    