@import "sapient.variables-mixins.less";
header {
	position: fixed;
	z-index: 11;

	&.navbar {
		min-height: 0;
	}
}

#navbar-header,
#wine-filters {
	font-family: "NeutraText Bold";
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	height: 90px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	div.menu-container {
		margin: 0 auto;
		position: relative;
		ul.menu {
			max-width: 1170px;
			width: 100%;
			.centerX();
			li.menu-item {
				a[aria-expanded="true"] {
					color: @shed-red;
				}

				&:first-child {
					a {
						padding-left: 0;
					}
				}

				&:last-child {
					a {
						padding-right: 0;
					}
				}

				&>a {
					color: @white;
					letter-spacing: 2px;
					line-height: 24px;
					padding: 32.5px 60px;

					&:hover,
					&:active,
					&:focus {
						background: none;
						color: @shed-red !important;
						box-shadow: none;
					}

					span.expand-icon {
						background-image: url("@{background-icons-path}BE_icon_arrow_down_white.svg");
						background-repeat: no-repeat;
						background-size: 15px;
						bottom: 0;
						display: block;
						height: 8px;
						position: absolute;
						right: 30px;
						top: 40px;
						width: 15px;
						.transform(translateX(-50%));

					}
				}

				&:hover {
					 ul.sub-menu {
						display: block;
					} 
				}

				ul.sub-menu {
					background-color: @white;
					border-radius: 0;
					border-top: none;
					height: 70px;
					left: 50%;
					padding: 0;
					position: fixed;
					text-align: center;
					top: 90px;
					width: 100vw;
					.transform(translateX(-50vw));

					div.sub-menu-wrapper {
						display: inline-table;
						max-width: 80%;
						/* not final */
						width: auto;

						.menu-heading {
							display: none;
						}

						.centerX();

						li {
							display: inline-block;
							margin: 23px 25px 25px;
							position: relative;

							&.sub-category-wrapper {
								margin: 23px 25px 0;
								vertical-align: top;
								width: 25%;
							}

							a {
								&:hover {
									color: @shed-red !important;
								}

								&.sub-nav-item {
									font-family: "NeutraText Book";
									display: block;
									padding: 5px 0;
								}
							}
						}
					}

					&::before {
						@media screen and (min-width: 991px) {
							content: "";
						}

						position: fixed;
						top: -10px;
						left: 0;
						width: 100%;
						height: 10px;
						box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
						z-index: 100;
					}
				}

				&.open {
					a {
						background: none;
					}
				}				
			}

			li.logo {
				margin: 0 55px;

				a {
					background-image: url("@{background-icons-path}BE_icon_header_logo_white.svg");
					background-repeat: no-repeat;
					background-size: 140px 70px;
					color: @transparent;
					height: 70px;
					top: 10px;
					width: 140px;

					&:hover,
					&:active,
					&:focus {
						background-image: url("@{background-icons-path}BE_icon_header_logo_colour.svg");
						background-repeat: no-repeat;
						background-size: 140px 70px;
						color: @transparent;
						height: 70px;
						top: 10px;
						width: 140px;
					}
				}
			}
		}
	}
}

#wine-filters {
	background-color: @bright-green;
	background-image: none;
	position: relative;

	
	div.menu-container {
		ul.menu {
			li.menu-item {
				&:hover {
					background-color: @white;
				}

			&:first-child {
				a {
					padding-left: 60px;
				}
			}

			&:last-child {
				a {
					padding-right: 60px;
				}
			}

		.expand-icon {
			background-image: url("@{background-icons-path}BE_icon_arrow_down_red.svg") !important;
		}

		

			}
		}
	}
}

.semi-solid-menu {
	background-color: white;
	background-image: none !important;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
	opacity: .96;
	transition: background-color 0.25s;

	li.dropdown,
	li.menu-item {
		.expand-icon {
			background-image: url("@{background-icons-path}BE_icon_arrow_down_red.svg") !important;
		}
		a {
			color: @dark-gray !important;
		}

	}

	li.logo {
		a {
			background-image: url("@{background-icons-path}BE_icon_header_logo_colour.svg") !important;
			background-repeat: no-repeat;
			background-size: 140px 70px;
			color: @transparent;
			height: 70px;
			top: 10px;
			width: 140px;
		}
	}
}

.solid-menu {
	opacity: 1;
}

.transparent-menu {
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	background-color: @transparent;
	transition: background-color 0.25s;

	li.dropdown {
		.expand-icon {
			background-image: url("@{background-icons-path}BE_icon_arrow_down_white.svg");
		}
		a {
			color: @white;
		}
	}

	li.logo {
		background-image: url("@{background-icons-path}BE_icon_header_logo_white.svg");
	}
}

@media screen and (max-width: @bp-desktop-mlarge) {
	#navbar-header {
		div.menu-container {
			max-width: 1170px;
		}
	}	
}

@media screen and (max-width: @bp-max-mobile) {
	.solid-menu {
		opacity: 1;
		li.dropdown,
		li.menu-item {
			.expand-icon {
				background-image: url("@{background-icons-path}BE_icon_arrow_mob_right.svg") !important;
			}
			a {
				color: @dark-gray !important;
			}
		}
		li.logo {
			a {
				background-image: url("@{background-icons-path}BE_icon_header_logo_colour.svg") !important;
				background-repeat: no-repeat;
				background-size: 140px 70px;
				color: @transparent;
				height: 70px;
				top: 10px;
				width: 140px;
			}
		}
	}
	header.navbar {
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
		position: fixed;
		width: 100vw;
		&.navbar {
			border: none;
			min-height: 65px;
		}
		/* display: none; */
		.header-logo {
			background-image: url("@{background-icons-path}BE_icon_header_logo_white.svg");
			background-size: 100px 45px;
			display: block;
			height: 45px;
			top: 10px;
			width: 100px;
			position: absolute;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			z-index: 101;
		}
		button.navbar-toggle {
			background: none !important;
			border: none !important;
			position: fixed;
			right: 0;
			z-index: 101;
			&:hover {
				background-color: none;
			}
			span.icon-bar {
				background-color: #d50032 !important;
			}
		}
		#navbar-header {
			top: 65px;
			&.in {
				height: 100%;
				.transition(all 1s ease-in-out);
			}
			&::before {
				content: "";
				position: absolute;
				top: -10px;
				left: 0;
				width: 100%;
				height: 10px;
				box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
				z-index: 101;
			}
			div.menu-container {
				background-color: #ffffff;
				border-bottom: 2px solid @light-blue;
				bottom: 0;
				margin: 0;
				max-width: none;
				position: fixed;
				top: 65px;
				width: 100%;
				z-index: 100;
				left: 0;
				right: 0;
				ul.menu {
					left: 0;
					margin: 0;
					min-width: 0;
					width: 100vw;
					.transform(translateX(0));
					.transition(all 0.5s ease-in-out);
					&.menu-open {
						left: -100vw;
					}
					li.menu-item {
						background-color: @white;
						border-bottom: 2px solid @light-blue;
						float: none;
						left: 0;
						text-align: center;
						.transition(all 0.5s ease-in-out);
						&>a {
							color: @dark-gray;
							font-size: 16px;
							line-height: 24px;
							letter-spacing: 2px;
							padding: 16px 0;
						}
						span.expand-icon {
							background-image: url("@{background-icons-path}BE_icon_arrow_mob_right.svg");
							background-repeat: no-repeat;
							background-size: 15px;
							bottom: 0;
							display: block;
							height: 30px;
							right: -5px;
							top: 10px;
							width: 50px;
							background-position: right center;
							z-index: 5;
						}
						ul.sub-menu {
							border: none;
							left: 100vw;
							box-shadow: none;
							.transform(translateX(0));
							.transition(all 0.5s ease-in-out);
							div.sub-menu-wrapper {
								display: block;
								.transform(translateX(0));
								background-color: #ffffff;
								height: 100vh;
								left: 0;
								top: -90px;
								width: 100vw;
								z-index: 100;
								&.scrollItBaby {
									overflow-y: scroll;
									display: block;
									max-width: 100%;
								}
								.menu-heading {
									background-color: @light-sky-blue;
									height: auto;
									padding: 10px 0;
									top: 0;
									width: 100%;
									bottom: 0;
									span.logo {
										background-image: url("@{background-icons-path}BE_icon_arrow_mob_left.svg");
										background-repeat: no-repeat;
										background-size: 15px;
										display: block;
										height: 50px;
										position: absolute;
										top: -5px;
										width: 30px;
										background-position: right center;
									}
								}
								li {
									border-bottom: 2px solid @light-blue;
									display: block;
									float: left;
									margin: 0;
									padding: 16px 0;
									position: relative;
									text-align: center;
									width: 100vw;
									a {
										color: @dark-gray !important;
										display: block;
										font-size: 16px;
										letter-spacing: 2px;
										line-height: 24px;
										padding: 8px 0;
									}
								}
							}
						}
						&.open ul.sub-menu {
							left: 0;
						}
					}
				}
			}
		}
	}
	&.open-menu {
		background-color: @white !important;
		background-image: none;
		border-bottom: 2px solid blue;
	}
}
