#contact-us-component {
	padding: 90px 0 0;
	position: relative;
	text-align: center;

	h2 {
		color: @dark-gray;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.36;
		margin: 0 15px;
		text-align: center;
	}

	.body-contactus {
		color: @dark-gray;
		font-family: "NeutraText Book";
		letter-spacing: normal;
		margin-bottom: 5px;
		text-align: center;
	}

	a {
		color: @bright-green;
		font-family: "NeutraText Bold";
		margin-bottom: 80px;

		&[href^="tel"]{
			color: #3e464b;
			font-family: "NeutraText Book";
			font-size: 18px;
			line-height: 28px;
			pointer-events: none;
		}

		&[href^="mailto"]{
			font-family: "NeutraText Bold";
			font-size: 12px;
			letter-spacing: 2px;
		}
	}

	.header_f {
		margin-bottom: 5px;
	}

	.wrapper-contactus {
		margin: 85px 15px 0 15px;
	}
}

@media screen and (max-width: @bp-large-mobile-to-table-landscape) {
	#contact-us-component {
		a {
			&[href^="tel"]{
				color: @bright-green;
				pointer-events: auto;
			}
		}
	}
}