/* hero component new code*/

#hero-component {
	span.header_f {
		color: white;
		font-family: "NeutraText Bold";
	}
	height: 100vh;
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;   
	position: relative;

	.background-image {
		height: auto;
		width: 100%;
	}

	.hero-inner-container {
		.centerBoth();
		text-align: center;
		
		h1 {
			color: @white;
		}

		.find-out-more {
			margin: 15px 0 40px;
		}
	}
	
	.hero-bottle-wrapper {
		bottom: 0;
		height: auto;
		margin-right: 10%;
		right: 0; 
		position: absolute;
		width: 11.25%;
		z-index: 2;
		
		img {
			width: 100%;
		}
	}
	
	.cta-visitus {
		display: inline;
		left: 50%;
		margin-top: 115px;
		width: 100%;
		.centerX();
	}

	.scroll-down {
		.centerX();

		bottom: -18px;
		
		.circle {
			background-color: @white;
			border: 1px solid @light-gray;
			border-radius: 20px;
			display: block;
			height: 40px;
			padding: 7.5px;
			width: 40px;

			.arrow {
				.centerX();
				background-repeat: no-repeat;
				background-image: url("@{background-icons-path}BE_icon_arrow_down_red.svg");
				background-size: 15px;
				bottom: 0;
				display: block;
				height: 15px;
				top: 50%;
				width: 15px;
			}
		}
	}

}

@media screen and (max-width: @bp-large-mobile-to-table-landscape) {
	#hero-component {

		/* .background-image {
			left:0;
			height: 100%;
		}  */

	/* 	.cta-visitus {			
		.centerX();
		
		a.cta {
			display: block;
		}
		
		a.visit-all-wine {
			margin-bottom: 10px;
		}
		width: 65%;
	} */


		.hero-inner-container {
			.centerX();
			text-align: center;
			top: 0;
			
			h1 {
				/* font-size: 28px;
				line-height: 38px; */
				margin: 40px 25px 0 25px;
			}
			
			.find-out-more {
				margin-bottom: 40px;
				width: 87.5%;
			}
		}
	}
}

@media screen and (max-width: @bp-max-mobile) {
	#hero-component {
		height: 100vh;

		.gradient(@light-sky-blue, @white, @light-sky-blue);

		.cta-visitus {			
			.centerX();
			bottom: initial;
			width: 100%;
			
			a.cta {
				display: block;
				/* margin-left: 0; */
			}
			
			a.visit-all-wine {
				margin-bottom: 10px;
				padding: 8px 48px;
			}/* 
			width: 65%; */
		}


		.hero-inner-container {
			margin-top: 65px;
			text-align: center;
			top: 0;
			.centerX();
			
			h1 {
				margin: 40px 25px 20px 25px;
			}
			
			.find-out-more {
				margin-bottom: 40px;
				width: 100%;
				/* width: 87.5%; */
			}
		}
/* 		.hero-bottom {
	img.triangle {
		bottom: 0;
		height: 25px;
		left: 0;
		position: absolute;
		width: 100%;
	}

	.triangle-right {
		bottom: 0;
		border-right: 100vw solid #5e6002;
		border-left: 0 solid transparent;
		border-top: 30px solid transparent;
		height: 0;
		left: 0;
		opacity: 1;
		position: absolute;
	}
} */
	}
}

@media screen and (max-width: @bp-min-mobile) {
	#hero-component {	
		.hero-inner-container {			
			h1 {
				margin: 5px 25px 10px 25px;
			}
		}		
	}
}
