/* sign-up */

.sign-up-text-wrapper {
	background-color: @fawn;	
	padding: 45px 0;
	text-align: center;

	h3 {
		color: @dark-gray;
		margin: 0 15px 35px 0;
		font-family: "NeutraText Book";
		letter-spacing: normal;
		line-height: 1.42;
	}

	a.secondary-dark {
		font-family: "NeutraText Bold";
		font-weight: 700;
		padding: 8px 45px;
	}
}