.stockists-where-to-buy {
	padding: 100px 0 0;
	
	h2 {
		color: @dark-gray;
		float: none;
		margin: 0 auto 24px;
		text-align: center;
	}

	p {
		font-family:  "NeutraText Book";
		margin: 0 auto;
		max-width: 570px;
		text-align: center;
	}

	.logo-text-container {
		.set-max-width(1170px);
		
		margin: 0 auto;
		text-align: center;
		
		.inner-wrapper {

			display: inline-block;
			margin-top: 59px;
			width: 33%;
			
			a {
				display: block;
			}

			img {

			}

			span {
				color: @dark-gray;
				display: block;
				font-family:  "NeutraText Bold";
			}
		}
	}
}
@media screen and (max-width: @bp-max-mobile) {
	.stockists-where-to-buy {
	span {
		
	}
	
	h2 {
	}

	p {
		padding: 0 15px;
	}

	.logo-text-container {
		
		.inner-wrapper {
			display: block;
			margin: 90px 0;
			width: auto;
			
			img {

			}

			span {
				margin-top: 15px;
			}
		}
	}
}
	
}
