/* sign-up */

.sign-up-text-wrapper {
	background-color: @bright-orange;
	color: @white;
	/* margin-bottom: 100px; */
	padding: 50px 0 40px 0;
	text-align: center;
	
	a.cta {
		background-color: @bright-orange;
		border: 3px solid @white;
		color: @white;
		margin: 25px 0 10px 0;

		&:hover {
			background-color: @white;
			border: 3px solid @dark-gray;
			color: @dark-gray;
		}
	}
}