header.navbar {
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	border-radius: 0;
	min-height: 65px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	&:hover,
	&.white-background {
		opacity: .96;
		&:hover {
			opacity: 1;
		}
		nav[role="navigation"] {
			.nav {
				a {
					color: #3e464b;
					padding: 33px 0;
					&:hover,
					&:focus {
						color: #d50032;
					}
				}
				li {
					& > a {
						span.expand-icon {
							background-image: url("@{background-icons-path}BE_icon_arrow_down_red.svg");
						}
					}
					&.logo {
						a {
							background-image: url("@{background-icons-path}BE_icon_header_logo_colour.svg");
						}
					}
				}
			}
		}
	}
	.header-logo {
		background-image: url("@{background-icons-path}BE_icon_header_logo_white.svg");
		background-size: 100px 45px;
		display: block;
		height: 45px;
		top: 10px;
		width: 100px;
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		z-index: 10;
	}
}

@media screen and (min-width: 991px) {
	header.navbar {
		height: 90px;
		&:hover {
			background-color: #fff;
			background-image: none;
			box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
		}
	}
}

nav[role="navigation"] {
	font-family: "NeutraText Bold", sans-serif;
	font-size: 14px;
	height: 100%;
	position: relative;
	width: 100%;
	/* Top level nav */
	.nav {
		.cfix();
		margin: 0 auto !important;
		max-width: 1170px;
		text-align: center;
		width: 100%;
		a {
			color: #ffffff;
			display: inline-block;
			font-size: 14px;
			text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
			width: 100%;
			&:hover,
			&:focus {
				background-color: transparent;
				color: #d50032;
			}
		}
	}
	/* Dropdowns */
	.nav ul {
		position: absolute;
		top: 86px;
		left: -9999px;
		opacity: 0;
		transition: 0.1s linear opacity;
		min-width: 150px;
		margin: 0 auto;
		width: 100%;
	}
	.nav li {
		float: left;
		position: static;
		text-align: center;
		width: 20%;

		&.hovered {
			& > a {
				color: #d50032 !important;
				span.expand-icon {
					background-image: url("@{background-icons-path}BE_icon_arrow_down_red.svg");
				}
			}
		}

		&.logo {
			a {
				background-image: url("@{background-icons-path}BE_icon_header_logo_white.svg");
				background-repeat: no-repeat;
				background-size: 140px 70px;
				color: @transparent;
				height: 70px;
				margin: 0 auto;
				text-indent: -99999px;
				top: 10px;
				width: 140px;
				&:hover,
				&:active,
				&:focus {
					background-image: url("@{background-icons-path}BE_icon_header_logo_colour.svg");
				}
			}
		}
	}
	/* Top level nav items */
	.nav li > a {
		padding: 33px 0;
		text-decoration: none;
		span.expand-icon {
			background-image: url("@{background-icons-path}BE_icon_arrow_down_white.svg");
			background-repeat: no-repeat;
			background-size: 15px;
			display: inline-block;
			height: 8px;
			width: 15px;
		}
		&:hover,
		&:focus {
			span.expand-icon {
				background-image: url("@{background-icons-path}BE_icon_arrow_down_red.svg");
			}
		}
	}
	/* Top level hover state, preserve hover state when hovering dropdown  */
	.nav li > a:hover,
	.nav li > a:focus,
	.nav li:focus > a,
	.nav li:hover > a {
		outline: 0;
	}
	.nav li:hover ul,
	.nav li:focus ul,
	ul.show-menu {
		background-color: #ffffff;
		box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.15) inset, 0 6px 12px rgba(0, 0, 0, .175);
		left: 0;
		opacity: 1;
		padding: 0;
		a {
			color: #3e464b;
		}
		& > div {
			margin: 0 auto;
			max-width: 1170px;
			text-align: center;
			width: 100%;
		}
	}
	.nav ul li {
		float: none;
		position: static;
		width: 100%;
		float: none;
		position: static;
		display: inline-block;
		font-size: 0;
		width: 17%;
	}
	.nav ul a {
		float: none;
		display: block;
		font-size: 16px;
		transition: 0.1s linear all;
	}
	.nav ul a:hover,
	.nav ul a:focus {
		text-shadow: none;
	}
	.list-reset {
		margin: 0;
		padding: 0;
		list-style: none;
	}





	&.wine-filters-desktop {
		background-color: #1e7266;
		height: 58px;
		z-index: 5;

		.nav li {
			&.hovered {
				& > a {
					background-color: #ffffff;
					color: #d50032 !important;
					span.expand-icon {
						background-image: url("@{background-icons-path}BE_icon_arrow_down_red.svg");
					}
				}
			}
		}

		/* Top level nav items */
		.nav li > a {
			padding: 19px 0 !important;
			&.active-filter {
				color: #d50032;
			}
			span.expand-icon {
				background-image: url("@{background-icons-path}BE_icon_arrow_down_white.svg");
				background-repeat: no-repeat;
				background-size: 15px;
				display: inline-block;
				height: 8px;
				width: 15px;
			}
			&:hover,
			&:focus {
				background-color: #ffffff;
				span.expand-icon {
					background-image: url("@{background-icons-path}BE_icon_arrow_down_red.svg");
				}
			}
		}
		/* Dropdowns */
		.nav ul {
			top: 58px;
		}
		.nav ul li {
			width: 17%;
			vertical-align: middle;
			p {
				font-family: "NeutraText Book";
				padding: 19px 0 0;
			}
			a {
				background-color: transparent;
				&:focus,
				&:hover {
					color: #d50032 !important;
				}
			}
		}

		.nav {
			li.food_matches {
				li {
					vertical-align: top;
					width: 33%;
					a {
						padding: 10px 0 !important;
					}
				}
			}
		}
	}
}


header.navbar {
	&.white-background {
		#open-navigation {
			span {
				border-color: #d50032;
				&::before {
					border-color: #d50032;
				}
			}
		}
	}
}

@media screen and (min-width: 991px) and (max-width: 1280px) {
	.touch-device {
		header.navbar {
			height: 70px;
			&.white-background {
				nav[role="navigation"] {
					.nav {
						a {
							color: #3e464b;
							padding: 25px 0;
						}
					}
				}
			}
		}
		nav[role="navigation"] {
			.nav ul {
				top: 70px;
			}
			.nav li {
				&.logo {
					a {
						background-size: 140px 50px;
						height: 50px;
					}
				}
			}
			.nav li > a {
				padding: 25px 0;

				.expand-icon {
					display: none;
				}
			}

			&.wine-filters-desktop {
				.nav ul {
					top: 58px;
				}
			}
		}
		.level-2.list-reset {
			display: none !important;
		}
	}
}

#open-navigation {
	background-color: transparent;
	border: 0 none;
	border-color: transparent;
	float: right;
	height: 30px;
	margin: 20px 20px 0 0;
	padding: 0;
	text-align: center;
	width: 30px;

	span {
		border: 1px solid #ffffff;
		border-width: 1px 0;
		float: right;
		height: 13px;
		position: relative;
		text-indent: -999999px;
		width: 17px;

		&::before {
			content: " ";
			display: block;
			left: 0;
			position: absolute;
			width: 100%;
			border-top: 1px solid #ffffff;
			top: 50%;
		}
	}
}

#mobile-navigation {
	background-color: #ffffff;
	bottom: 0;
	height: 100vh;
	font-family: "NeutraText Bold",sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	left: -99999px;
	position: fixed;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	width: 100%;
	z-index: -1;
	&.navigation-active {
		left: 0;
		z-index: 102;
	    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein .5s; /* Firefox < 16 */
	        -ms-animation: fadein .5s; /* Internet Explorer */
	         -o-animation: fadein .5s; /* Opera < 12.1 */
	            animation: fadein .5s;
	}

	#close-navigation {
		background-color: transparent;
		border: 0 none;
		color: white;
		cursor: pointer;
		float: right;
		height: 20px;
		margin: 25px 15px 0 0;
		position: relative;
		text-indent: -999999px;
		width: 20px;
		z-index: 103;

		&::after,
		&::before {
			content: " ";
			display: block;
			left: 0;
			position: absolute;
			width: 100%;
		}
		&::before {
			border-top: 1px solid #d50032;
			top: 50%;
			transform: rotate(45deg);
		}
		&::after {
			border-bottom: 1px solid #d50032;
			top: 50%;
			transform: rotate(-45deg);
		}
	}
	h2 {
    	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
		margin: 0;
		min-height: 60px;
    	position: relative;
		width: 100%;
    	z-index: 102;

		a {
			background-image: url(../images/icons/BE_icon_header_logo_colour.svg);
			background-size: 100px 45px;
			display: block;
			height: 45px;
			margin: 10px auto 0;
			width: 100px;
		}
	}
	&.not-active {
		display: none;
	}
	#mobile-navigation-scroll-wrapper {
		overflow-y: auto;
		position: relative;
		width: 100%;
	}
	ul.categories.nav {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		&.active {
			left: -100%;
			transition: all 1s;
		}
		li {
			background-color: #fff;
			border-bottom: solid 2px #e2f4fd;
			position: static;
			
			a {
				color: #3e464b;
				display: block;
				font-family: "NeutraText Bold", sans-serif;
				font-size: 16px;
				padding: 15px;
				text-decoration: none;
				text-transform: uppercase;

				img {
					position: absolute;
					right: 10px;
					top: 20px;
				}

				&.sub-nav-return {
					background-color: #e2f4fd;
					font-size: 12px;
					padding: 8px 15px;
				}

				&.external {
					&::after {
						background-image: url("@{background-icons-path}BE_icon_new_window.svg");
						background-size: 13px;
						content: "";
						display: inline-block;
						height: 13px;
						margin-left: 10px;
						position: relative;
						width: 13px;
					}
				}
			}
			ul.sub-categories {
				display: none;
				padding: 0;
				position: absolute;
				right: -100%;
				top: 0;
				width: 100%;
				z-index: 1;
				li {
					list-style: none;
					margin: 0;
					padding: 0;
					a.sub-nav-return {
						img {
							left: 10px;
							right: auto;
							top: 11px;
						}
					}
					p {
						text-transform: none;
					}
				}
			}
		}
		a.iamalive + ul.sub-categories {
			display: block;
		}
	}
}
