@import "sapient.variables-mixins.less";
*{ box-sizing: border-box; }

#find-us-component {
	.container{
	  position: relative;
	  width: 100%;
	  margin: 0 auto;
	  margin-top:50px;
	}
	
	.map{
	    height: 0;
	    overflow: hidden;
	    padding-bottom: 22.25%;
	    padding-top: 30px;
	    position: relative;
	    display: block;
	}
	#map-overlay { 
	    position: relative; 
	    width: 100%;
	    margin: 0 auto;
	    background: white;
	    display: block;
	}
	h2{
	  postion: relative;
	  text-align: center;
	  font-size: 28px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.63;
	  letter-spacing: normal;
	  color: #3e464b;
	}
	h3{
	  postion: relative;
	  text-align: center;
	  font-size: 16px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.63;
	  letter-spacing: normal;
	  color: #3e464b;
	}
	p{
	  postion: relative;
	  font-family: "NeutraText Book";
	  font-size: 16px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.63;
	  letter-spacing: normal;
	  text-align: center;
	  color: #3e464b;
	}
}
