@import "sapient.variables-mixins.less";
#our-wines {
	.set-max-width(1400px);
	position: relative;
	margin: 0 auto 100px auto;
	.our-wines-background-container {
		.our-wine-header {
			font-size: 14px;
			line-height: 0;
		}
		.our-wines-wrapper {
			h1,
			h2 {
				color: @dark-gray;
				;
			}
			left: 14%;
			position: absolute;
			top: 10%;
			width: 33.33%;
			.wines-sub-heading {
				text-align: left;
				font-size: 48px;
				line-height: 60px;
			}
			p {
				font-size: 18px;
				margin-bottom: 30px;
				margin-top: 20px;
				line-height: 1.6;
			}
		}
		.vineyard {
			float: right;
			padding: 0;
			width: 28%;
			.vineyard-pic {
				width: 100%;
				/* margin-left: 20px; */
			}
			.vineyard-desc {
				display: block;
				left: -105px;
				position: absolute;
				top: 90px;
				/* writing-mode: tb-rl; */
				white-space: nowrap;
				.transform(rotate(270deg));
			}
		}
		.carousel-background {
			background-color: @wines-carousel-green;
			height: 35%;
			left: 58%;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 38%;
			width: 26.6%;
			z-index: 2;
		}
		.view-wines-btn {
			margin-left: 0;
		}
		#carousel-our-wines {
			left: 58%;
			top: 30%;
			margin: 0;
			padding: 0;
			position: absolute;
			width: 26.6%;
			z-index: 2;
			.carousal-desc-wrapper {
				text-align: center;
				.carousal-header {
					color: @dark-gray;
				}
			}
		}
	}
	.our-wines-youtube-video {
		clear: both;
		position: relative;
		padding: 12%;
		width: 48.35%;
		margin-left: 6.25%;
		.video {
			border: 0;
			height: 100%;
			left: -12%;
			position: absolute;
			top: 0;
			width: 100%;
		}
		p {
			bottom: -35px;
			font-weight: 700;
			left: -12%;
			position: absolute;
		}
	}
}

@media screen and (max-width: @bp-desktop-mlarge) {
	#our-wines {
		.set-max-width(1170px);
		.our-wines-background-container {
			.carousel-background {
				height: 41%;
				top: 40%;
			}
		}
	}
}

@media screen and (max-width: @bp-max-mobile) {
	#our-wines {
		padding: 0;
		.our-wines-background-container {
			/* position: relative; */
			.our-wines-wrapper {
				left: 0;
				margin-bottom: 80px;
				padding: 0 15px;
				position: relative;
				width: 100%;
				.wines-sub-heading {
					text-align: left;
					font-size: 24px;
					line-height: 34px;
				}
			}
			.vineyard {
				clear: both;
				width: 100%;
				.vineyard-desc {
					left: -85px;
				}
				.vineyard-pic {
					margin-left: 5%;
					width: 90%;
				}
			}
			.view-wines-btn {
				margin-top: 5px;
				width: 100%;
			}
			.carousel-background {
				height: 19%;
				left: 0;
				top: 54%;
				width: 100%;
				margin: 0;
				z-index: 0;
			}
			#carousel-our-wines {
				left: 0;
				position: relative;
				top: 77%;
				width: 100%;
				.carousel-indicators {
					bottom: 9%;
				}
				.carousel-inner {
					position: relative;
					width: 100%;
					overflow: hidden;
				}
			}
		}
		.our-wines-youtube-video {
			height: 100vw;
			margin-left: 0;
			padding: 5%;
			width: 100vw;
			.video {
				border: none;
				height: 100%;
				left: 0;
				position: relative;
				top: 0;
				width: 100%;
			}
			p {
				bottom: 0;
				left: 0;
				position: relative;
			}
		}
	}
}

@media screen and (max-width: @bp-min-mobile) {
	#our-wines {
		.our-wines-background-container {
			.carousel-background {
				bottom: 4px;
				height: 20%;
				left: 0;
				margin-top: 160px;
				top: 46%;
				width: 100vw;
				z-index: 0;
			}
			#carousel-our-wines {
				.carousel-indicators {
					bottom: 10%;
				}
			}
		}
	}
}

#open-filters {
	background-color: #1e7266;
	border: 0 none;
	color: #ffffff;
	display: block;
	letter-spacing: 2px;
	padding: 10px 50px;
	width: 100%;
}

#mobile-filters {
	background-color: #ffffff;
	bottom: 0;
	height: 100vh;
	display: none;
	letter-spacing: 2px;
	font-size: 16px;
	position: fixed;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	width: 100%;
	z-index: 100;
	&.filters-active {
		display: block;
	}
	#close-filters {
		background-color: transparent;
		border: 0 none;
		color: #ffffff;
		font-size: 16px;
		float: right;
		height: 24px;
		right: 10px;
		position: relative;
		top: 10px;
		width: 24px;
		z-index: 1;
	}
	h2 {
		background-color: #3e464b;
		color: #ffffff;
		font-size: 16px;
		font-weight: normal;
		letter-spacing: 2px;
		line-height: 24px;
		margin: 0;
		padding: 10px 0;
		text-align: center;
		width: 100%;
	}
	&.not-active {
		display: none;
	}
	#mobile-filters-scroll-wrapper {
		overflow-y: auto;
		position: relative;
		width: 100%;
	}
	ul.categories.nav {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;

		&.active {
			left: -100%;
			transition: all 1s;
		}
		li {
			background-color: #fff;
			border-bottom: solid 2px #e2f4fd;
			position: static;
			a {
				color: #3e464b;
				display: block;
				height: 60px;
				padding: 20px 0;
				text-decoration: none;

				img {
					position: relative;
					top: 4px;
					width: 14px;
				}

				&.category {
					img {
						float: right;
						right: 15px;
					}
				}

				&.sub-nav-return {
					background-color: #e2f4fd;
					font-size: 12px;
					height: 40px;
					padding: 12px 0;

					img {
						float: left;
						left: 15px;
					}
				}
			}
			& > a.iamalive + ul.sub-categories {
				display: block;
			}
			ul.sub-categories {
				display: none;
				padding: 0;
				position: absolute;
				right: -100%;
				top: 0;
				width: 100%;
				z-index: 1;
				li {
					list-style: none;
					margin: 0;
					padding: 0;

					p {
						font-size: 12px;
						text-transform: none;
					}

					a.sub-nav-item {
						border-bottom: solid 1px #e2f4fd;

						&:last-child {
							border-bottom: 0 none;
						}
					}
				}
			}
		}
	}
}