.you-may-like {
    text-align: center;
    .bottle-wrapper {
        max-width: 1170px;
        position: relative;
        .bottle {
            margin: 0 10px;
            positon: absolute;
            top: 0;
            display: inline-block;
        }
        .background {
            background-color: #cbd879;
            position: absolute;
            height: 210px;
            width: 210px;
            top: 105px;
            z-index: -1;
        }
    }
}
