@import "sapient.variables-mixins.less";

#contact-us-component {
	position: relative;
	text-align: center;
	padding: 90px 0;

	a {
		color: #1e7266;
		font-family: "NeutraText Bold";
		font-size: 12px;
		font-weight: bold;
		margin-bottom: 80px;
		text-transform: uppercase;

		&[href^="tel"]{
		    color:@dark-gray;
		    font-family: "NeutraText Book";
		    font-size: 16px;
		    font-weight: normal;
		}
	}
	span {
		display: block;
		text-transform: uppercase;
	}
	h2 {
		color: @dark-gray;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.36;
		margin-bottom: 15px;
		text-align: center;
		text-transform: uppercase;
	}
	.header_f {
		margin-bottom: 5px;
	}
	.wrapper {
		margin-top: 100px;
	}
	.body {
		color: @dark-gray;
		font-family: "NeutraText Book";
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.56;
		letter-spacing: normal;
		margin-bottom: 5px;
		text-align: center;
		text-transform: uppercase;
	}
}

@media screen and (max-width: @bp-large-mobile-to-table-landscape) {}
