@import "sapient.variables-mixins.less";
.enquire-form {
	.set-max-width(770px);

	.form-details {
		text-align: center;
	}
	form {
		label {
			display: none;
		}
		input,
		select {
			width: 100%;
		    border: none;
		    border-bottom: 1px solid black;
		    outline: none;
		}    
	}
}