#product-grid {
	text-align: center;
	.category-wrapper {
		padding: 100px 0;

		&:nth-child(odd) {
			background-image: @grain-noise-img;
		}
	}

	.category-header {
		margin: 0 auto 40px;
		max-width: 770px;

		.title-tag {
			font-size: 12px;
			font-family: "NeutraText Bold";
		}
		
		h2 {
			color: @dark-gray;
			font-family: "NeutraText Bold";
			margin-bottom: 20px;
			text-transform: uppercase;
		}
	}
}
#response-wrapper {
	.category-grid {
		margin: 0 auto;
		max-width: 1170px;
		font-size: 0;

		.product-tile {
			display: inline-block;
			margin: 0 1%;
			vertical-align: top;
			width: 23%;
			@media screen and (min-width: 1025px) {
				&:first-child,
				&:nth-child(4n+1) {
					margin-left: 0;
				}

				&:last-child,
				&:nth-child(4n) {
					margin-right: 0;
				}
			}
			.product-shot {
				padding: 60px 0 0;
				position: relative;
				margin-bottom: 24px;
				img {
					max-width: 110px;
					position: relative;
					transition: all .5s;
					width: 100%;
					z-index: 1;
				}
				.product-bg {
					background-color: #cbd879;
					bottom: 0;
					height: 100%;
					left: 0;
					max-height: 270px;
					position: absolute;
					right: 0;
				}
			}

			h3 {
				color: @dark-gray;
				font-family: "NeutraText Bold";
				font-size: 12px;
				line-height: 1;
				margin-bottom: 10px;
			}

			p {
				font-family: "NeutraText Book";
			}

			&:hover,
			&:focus {
				.product-shot {
					img {
						transform: scale(1.1);
					}	
				}
			}
		}
	}
}

@media screen and (min-width: 991px) and (max-width: 1024px) {
	#product-grid {
		.category-grid {
			margin: 0 75px;

			.product-tile {
				max-width: none;
				width: 31%;

				&:first-child,
				&:nth-child(3n+1) {
					margin-left: 0;
				}

				&:last-child,
				&:nth-child(3n) {
					margin-right: 0;
				}

			}
		}
	}
}

@media screen and (max-width: 990px) {
	#product-grid {
		.category-grid {
			.product-tile {
				width: 48%;

				&:first-child,
				&:nth-child(odd) {
					margin-left: 0;
				}

				&:last-child,
				&:nth-child(even) {
					margin-right: 0;
				}

			}
		}
	}
}


@media screen and (max-width: 690px) {
	#product-grid {
		.category-header,
		.category-grid {
			margin: 0 25px;
		}
		.category-grid {
			.product-tile {
				width: 100%;
				margin: 0 !important;
			}
		}
	}
}

@media screen and (min-width: 990px){
	#product-grid-carousal {
		.category-grid {
			margin: 0 auto;
			max-width: 1170px;

			.product-tile {
				display: inline-block;
				margin: 0 1%;
				position: static;
				vertical-align: top;
				width: 23%;

				&:first-child,
				&:nth-child(4n+1) {
					margin-left: 0;
				}

				&:last-child,
				&:nth-child(4n) {
					margin-right: 0;
				}

				.product-shot {
					padding: 60px 0 0;
					position: relative;
					margin-bottom: 24px;
					img {
						max-width: 110px;
						position: relative;
						transition: all .5s;
						width: 100%;
						z-index: 1;
					}
					.product-bg {
						background-color: #cbd879;
						bottom: 0;
						height: 100%;
						left: 0;
						max-height: 270px;
						position: absolute;
						right: 0;
					}
				}

				h3 {
					color: @dark-gray;
					font-family: "NeutraText Bold";
					font-size: 12px;
					line-height: 1;
					margin-bottom: 10px;
				}

				p {
					font-family: "NeutraText Book";
				}

				&:hover,
				&:focus {
					.product-shot {
						img {
							transform: scale(1.1);
						}	
					}
				}

				&.see-all-link {
					background-color: #1e7266;
					color: white;
					height: 270px;
					line-height: 270px;
					text-align: center;
					vertical-align: bottom;
				}
			}
		}
		.carousel-indicators,
		.carousel-control {
			display: none;
		}
	}
}
@media screen and (max-width: 990px){
	#product-grid-carousal {
		margin-bottom: 20px;

		.category-grid {
			margin: 0 auto;
			max-width: 1170px;
			width: 100%;

			.product-tile {
				margin: 0 auto !important;
				width: 100%;

				.product-shot {
					padding: 60px 0 0;
					position: relative;
					margin-bottom: 24px;
					img {
						margin-bottom: 20px;
						max-width: 110px;
						position: relative;
						transition: all .5s;
						width: 100%;
						z-index: 1;
					}
					.product-bg {
						background-color: #cbd879;
						bottom: 0;
						height: 100%;
						left: 0;
						max-height: 270px;
						position: absolute;
						right: 0;
					}
				}

				h3 {
					color: @dark-gray;
					font-family: "NeutraText Bold";
					font-size: 12px;
					line-height: 1;
					margin-bottom: 10px;
				}

				p {
					font-family: "NeutraText Book";
				}

				&.see-all-link {
					display: none;
				}
			}
		}

		.carousel-control {
			background: none transparent !important;
		}

		.carousel-indicators {
			top: 460px;

			li {
				border-color: #d50032;

				&.active {
					background-color: #d50032;
				}
			}
		}
	}
}