
#follow-us {
	position: relative;
	.inner-wrapper {
		.img-left {
			float: left;
			.inner-container {
				a.image-link {
					display: block;
					float: left;
					/* width: 20%; */
					
					img {
						height: auto;
						max-height: 320px;
						max-width: 320px;
						width: 100%;
					}
				}
			}
		}
		.img-right {
			float: left;
			
			.inner-container {
				a.image-link {
					display: block;
					float: left;
					/* width: 20%; */
					
					img {
						height: auto;
						max-height: 320px;
						max-width: 320px;
						width: 100%;
					}
				}
			}
		}
	}

	.follow-us-text {
		/* max-width: 320px; */
		background-color: @fawn;
		height: 320px;
	}
}

@media screen and (min-width: @bp-desktop-exxlarge) {
	
}

@media screen and (min-width: 690px) and (max-width: 990px) {
	
}

@media screen and (min-width: @bp-max-mobile) {
	
}

@media screen and (min-width: @bp-min-mobile) {
	
}

