@import "sapient.variables-mixins.less";
.cookie-notification-wrapper {
	background-color: @bright-green;
	bottom: 0;
	width: 100%;
	position: fixed;

	.content-wrapper {
		color: @white;
		font-size: 16px;
		max-width: 770px;
		margin: 0 auto;
		padding: 24px 15px;
		text-align: center;

		a {
			color: @white;
			cursor: pointer;
			text-decoration: underline;

			&:hover {
				color:@white;
			}
		}
	}

	.close-btn {
		cursor: pointer;
	  	position: absolute;
	  	right: 17%;
	  	top: 20%;
	  
	  	&:before,
		&:after {
			content: ' ';
			background-color:@white;
			height: 15px;
			position: absolute;
			width: 2px;
		}

		&:before {
	  		transform: rotate(45deg);
		}
		
		&:after {
	  		transform: rotate(-45deg);
		} 
	}	 

}
@media screen and (max-width: @bp-tablet) {
	.cookie-notification-wrapper {
		.close-btn {
			right: 8%;
			top: 8%;
		}
	}
}

@media screen and (max-width: @bp-max-mobile) {
	.cookie-notification-wrapper {
		.content-wrapper {
			margin: 0;
			max-width: 660px;
			padding: 24px 35px;
		}
	}
	
}

