@font-face {
	font-family: "Neutraface Text";
	src: url("../NeutrafaceText-Bold.woff2") format("woff2"),url("../NeutrafaceText-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 200;
	font-stretch: normal;
}

@font-face {
	font-family: "NeutraText Book";
	src: url("../NeutrafaceText-Book.woff2") format("woff2"),url("../NeutrafaceText-Book.woff") format("woff");
	font-style: normal; 
	
	font-weight: 200;
	font-stretch: normal;
}

@font-face {
	font-family: "NeutraText Bold";
	src: url("../NeutrafaceText-Bold.woff2") format("woff2"),url("../NeutrafaceText-Bold.woff") format("woff");
	font-style: normal; 
	
	font-weight: 700;
	font-stretch: normal;
}

@font-face {
	font-family: "NeutraText-Demi";
	src: url("../NeutrafaceText-Demi.woff2") format("woff2"),url("../NeutrafaceText-Demi.woff") format("woff");
	font-style: normal; 
	
	font-weight: 200;
	font-stretch: normal;
}
