@import "sapient.variables-mixins.less";
.awards-accolades{
	background-color: @fawn;
	padding: 90px 15px 100px;

	.heading-image-wrapper {
		text-align: center;
		
		h2{
			color: @dark-gray;
			margin: 11px 0 9px;
			position: relative;
		}
	}
	
	.list-wrapper {
		display: block;
		max-width: 1170px;
		margin: 24px auto 0;
		padding-bottom: 6px;
		text-align: center;

		.awards-details-wrapper {
			display:inline-block;
			padding: 0 15px 28px;
			max-width:370px;
			text-align: center;
			
			.header_d,
			.header_g {
				color: @dark-gray;
				display: block;
			}
			
			span.header_d {
				font-family: "NeutraText Book";
			}

		}
		
		.hidden-details-wrapper {
			display: none;
		}
	}
	
	.see-more-btn-wrapper {
		text-align: center;
		
		button.see-more-btn {
			background: transparent;
			border: 2px solid @dark-gray;
		    font-size: 12px;
		    letter-spacing: 2px;
		    line-height: 22px; 
   			padding: 8px 68px 8px 48px;
		    position: relative;
		   
		    &:hover {
		    	color:@dark-gray;
		    }
		   
		   .btn-img {
	    		background-image: url("@{background-icons-path}BE_icon_arrow_down_red.svg") !important;
	    		background-size: 15px;
				height: 7px;
			    margin-left: 8px;
			    position: absolute;
			    top: 16px;
			    width: 15px;    
		    }
		}
	}
	
}

@media screen and (max-width: @bp-max-mobile) {
	.awards-accolades {
		padding: 100px 15px;

		.heading-image-wrapper {
			
			h2{
				font-size: 28px;
				line-height: 38px;	
			}
		}
		
		.list-wrapper {

			.awards-details-wrapper {
				max-width:290px;
				margin: 16px auto 30px;
				padding: 0;
				.header_d,
				.header_g {
					display: block;
				}
			}
		}
	}
	.see-more-btn-wrapper {
		button.see-more-btn {
			padding:8px 48px;
		}
	}	
}
@media screen and (min-width: @bp-tablet) {
	.awards-accolades {
		.list-wrapper {
			.awards-details-wrapper {
				max-width:315px;
			}
		}
	}
}