@import "sapient.variables-mixins.less";
.product-details-mobile {
	text-align: center;
	padding-bottom: 100px;

	span.header_d {
		padding: 0 15px;
	}
}
.awards-accolades{
	background-color: @fawn;
	padding: 100px 0;

	.heading-image-wrapper {
		text-align: center;
		h2{
			position: relative;
			color: @black;
			margin: 20px 0 40px;
		}
	}
	.list-wrapper {
		display: block;
		max-width: 1170px;
		margin: 0 auto;
		padding: 18px 0 26px;
		text-align: center;

		.awards-details-wrapper {
			display:inline-block;
			margin: 0 auto;
			max-width:370px;
			text-align: center;
			.header_d,
			.header_g {
				color: #3e464b;
				margin: 10px 0;
			}
			span.header_d {
				font-family: "NeutraText-Book";
			}

		}
	}
	.see-more-btn-wrapper {
		text-align: center;
		a.see-more-btn {
			border: 2px solid #3e464b;
		    font-size: 12px;
		    letter-spacing: 2px;
		    line-height: 22px;
		    position: relative;
		    &:hover {
		    	color:#3e464b;
		    }
		    .btn-img {
	    		background-image: url("@{background-icons-path}BE_icon_arrow_down_red.svg") !important;
	    		background-size: 7px 15px;
			    height: 15px;
			    margin-left: 11px;
			    position: absolute;
			    top: 13px;
			    width: 7px;
		    }
		}
	}	
}
