
<section id="product-grid">
    
        
    
	<div class="category-header">
		<p class="title-tag">FLIGHT</p>
		<h2>Naturally full of taste and lighter in alcohol</h2>
		<p>As pioneers of the original Marlborough Sauvignon Blanc, our expertise allows our winemakers to select and harvest grapes earlier than usual to craft full-flavoured wine that is naturally lighter in alcohol.</p>
	</div>
	<div class="category-grid">
		
		
    

		
		<div class="product-tile">
			<div class="product-shot">
				<img src="https://www.cellarmasters.com.au/Content/ProductImages/W5261_670.png" />
				<div class="product-bg"></div>
			</div>
			<h3>Brancott Estate</h3>
			<p>Marlborough Sauvignon Blanc</p>
		</div>
		
		
		
		
	</div>
	
	
</section>
