<div class="age-gate-container">
	<div class="form-wrapper">
		<div class="form-info">
			<img src="" class="main-logo">
			<span class="age-gate-info header_g">ENJOY BRANCOTT ESTATE WINE RESPONSIBLY</span>
		</div>	
	
		<form class="age-gate-form">
			<div class="group">
				<label for="country-Select" class="header_g">Select your country</label>
				<select id="country-Select" required>
					<option value="australia"></option>
					<option value="australia"></option>
					<option value="australia"></option>
				</select>				
			</div>
			<div class="group">
				<label for="age" class="header_g">Enter your Year of birth</label>
				<input type="text"  id="age" required>
				
			</div>
			<div class="group">
				<label for="Remember-me" class="header_g">Remember me</label>
				<input type="checkbox" id="Remember-me" class="sr-only"  required/>				
			</div>
			<button class="col-md-12 col-xs-12 col-sm-12">Enter</button>
			<div class="group">
				<span class="left-line"></span>
				<span class="">OR</span>
				<span class="right-line"></span>
			</div>	
			<button class="group">Login with Facebook</button>
		</form>
	</div>
</div>