<footer id="footer">
  <section class="manifesto-block">
    <h3 class="manifesto-head">Our manifesto</h3>
    <p class="manifesto-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor purus suscipit, faucibus risus a, hendrerit est. Integer viverra porttitor libero ut iaculis. In sed aliquet arcu. Donec eget mollis purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor purus suscipit, faucibus risus. </p>
    <span class="read-more"> <a href="#" class="cta dark">READ MORE</a> </span>
  </section>
  <section class="news-and-trending-block">
    <div class="latest-news-block">
      <h3>Latest news</h3>
      <ul>
        <li>
          <time>5 min ago</time>
          <p class="news-title"> <a href="#" target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor purus suscipit, faucibus risus a, hendrerit est.</a> </p>
        </li>
        <li>
          <time>36 min ago</time>
          <p class="news-title"> <a href="#" target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor purus suscipit, faucibus risus a, hendrerit est. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a> </p>
        </li>
        <li>
          <time>1 day ago</time>
          <p class="news-title"> <a href="#" target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor purus suscipit, faucibus risus a, hendrerit est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor purus suscipit, faucibus risus a, hendrerit est.</a> </p>
        </li>
      </ul>
    </div>
    <div class="trending-now-block">
      <h3>Trending now</h3>
      <div class="trending-now-body">
        <ul class="hashtags-list">
          <li><a href="#" target="_blank">RedbullRacing</a></li>
          <li><a href="#" target="_blank">MohamedAli</a></li>
          <li><a href="#" target="_blank">SaintValentin</a></li>
        </ul>
        <h4 class="more-topics"> <a href="#trending-topics-modal">MORE TRENDING TOPICS</a> </h4>
      </div>
    </div>
  </section>
  <section class="bottom-block">
    <ul class="bottom-block-body">
      <li class="block-section">
        <h4><a href="#">ABOUT TAG HEUER</a></h4>
        <ul>
          <li><a href="#choose-language-modal">Choose your language</a></li>
          <li><a href="http://customer-service.tagheuer.com/en-us/home" target="_blank">Customer service</a></li>
          <li><a href="#" target="_blank">Company</a></li>
          <li><a href="http://human-resources.tagheuer.com/en/?_ga=1.100741313.1973059638.1444915259" target="_blank">Careers</a></li>
          <li><a href="https://presscorner.tagheuer.com" target="_blank">Press area</a></li>
          <li><a href="http://www.tagheuer-timing.com/en" target="_blank">Professional timing</a></li>
        </ul>
      </li>
      <li class="block-section">
        <h4><a href="#">CUSTOMER SERVICE</a></h4>
        <ul>
          <li><a href="#" target="_blank">Sizing chart</a></li>
          <li><a href="#" target="_blank">Sitemap</a></li>
          <li><a href="#" target="_blank">Terms &amp; conditions</a></li>
          <li><a href="http://customer-service.tagheuer.com/en-us/faq" target="_blank">FAQ</a></li>
        </ul>
      </li>
      <li class="block-section newsletter-block">
        <h4>WANT TO READ THE LATEST NOVELTIES?<br />SIGN UP TO OUR NEWSLETTER:</h4>
        <div class="newsletter-input">
          <input type="text" class="control" placeholder="Enter your email" />
          <button type="button" class="submit">OK</button>
        </div>
        <h4>A QUESTION? NEED OF ADVICE?</h4> <a href="#" target="_blank">CONTACT US</a> </li>
      <li class="block-section social-and-friends-block">
        <div class="follow-us-block">
          <h4>FOLLOW US</h4>
          <ul>
            <li>
              <a href="#" target="_blank"><img src="/assets/assets/images/facebook.png" alt="Icon Social" title="Icon Social" /></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="/assets/assets/images/twitter.png" alt="Icon Social" title="Icon Social" /></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="/assets/assets/images/instagram.png" alt="Icon Social" title="Icon Social" /></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="/assets/assets/images/gplus.png" alt="Icon Social" title="Icon Social" /></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="/assets/assets/images/linkedin.png" alt="Icon Social" title="Icon Social" /></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="/assets/assets/images/youtube.png" alt="Icon Social" title="Icon Social" /></a>
            </li>
          </ul>
        </div>
        <div class="friends-block">
          <h4>FRIENDS OF THE BRAND</h4>
          <ul>
            <li>
              <a href="#" target="_blank"><img src="/assets/assets/images/icon-friend-1.png" alt="Icon Friend" title="Icon Friend" /></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="/assets/assets/images/icon-friend-2.png" alt="Icon Friend" title="Icon Friend" /></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="/assets/assets/images/icon-friend-3.png" alt="Icon Friend" title="Icon Friend" /></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="/assets/assets/images/icon-friend-4.png" alt="Icon Friend" title="Icon Friend" /></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="/assets/assets/images/icon-friend-5.png" alt="Icon Friend" title="Icon Friend" /></a>
            </li>
          </ul>
        </div>
        <div class="copyright-block"> &copy; TAG HEUER 2016 </div>
      </li>
    </ul>
  </section>
  <div class="back-to-top"> <a href="#"><span class="sr-only">Back to Top</span></a> </div>
  <div class="remodal" data-remodal-id="trending-topics-modal">
    <a href="#" data-remodal-action="close" class="remodal-close close-button"></a>
    <div class="modal-head">
      <h1 class="header_b">MORE TRENDING TOPICS</h1>
      <h2 class="header_c">Browse TAG Heuer universe</h2> </div>
    <div class="modal-body">
      <ul class="blocks-container">
        <li class="links-block">
          <h3>COLLECTIONS</h3>
          <ul>
            <li><a href="#" target="_blank">TAG Heuer Carrera</a></li>
            <li><a href="#" target="_blank">Aquaracer</a></li>
            <li><a href="#" target="_blank">TAG Heuer Connected</a></li>
            <li><a href="#" target="_blank">Link</a></li>
            <li><a href="#" target="_blank">TAG Heuer Formula 1</a></li>
            <li><a href="#" target="_blank">Monaco</a></li>
          </ul>
        </li>
        <li class="links-block">
          <h3>OFTEN SEARCHED FOR</h3>
          <ul>
            <li><a href="#" target="_blank">Offer watch Mother’s day</a></li>
            <li><a href="#" target="_blank">Cristiano Ronaldo watch</a></li>
            <li><a href="#" target="_blank">Smart watch TAG Heuer</a></li>
            <li><a href="#" target="_blank">Sports watch</a></li>
            <li><a href="#" target="_blank">Water resistant 500M watch</a></li>
          </ul>
        </li>
        <li class="links-block">
          <h3>YOU MAY ALSO LIKE</h3>
          <ul>
            <li><a href="#" target="_blank">TAG Heuer boutiques</a></li>
            <li><a href="#" target="_blank">Leather strap watch</a></li>
            <li><a href="#" target="_blank">Diamond gold watch</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="remodal" data-remodal-id="choose-language-modal">
    <a href="#" data-remodal-action="close" class="remodal-close close-button"></a>
    <div class="modal-head">
      <h1 class="header_b">CHOOSE YOUR LANGUAGE</h1>
      <h2 class="header_c">TAG Heuer websites</h2> </div>
    <div class="modal-body">
      <ul class="blocks-container">
        <li class="links-block">
          <h3>INTERNATIONAL</h3>
          <ul>
            <li><a href="#" target="_blank">English</a></li>
            <li><a href="#" target="_blank">Deutsch</a></li>
            <li><a href="#" target="_blank">Español</a></li>
            <li><a href="#" target="_blank">Français</a></li>
            <li><a href="#" target="_blank">Italiano</a></li>
            <li><a href="#" target="_blank">Portugués (BR)</a></li>
            <li><a href="#" target="_blank">РУССКИЙ</a></li>
            <li><a href="#" target="_blank">日本語</a></li>
            <li><a href="#" target="_blank">简体中文*</a></li>
            <li><a href="#" target="_blank">繁體中文</a></li>
            <li><a href="#" target="_blank">한국어</a></li>
          </ul>
        </li>
        <li class="links-block">
          <h3>BUY ONLINE</h3>
          <ul>
            <li><a href="#" target="_blank">USA online store</a></li>
            <li><a href="#" target="_blank">UK online store</a></li>
            <li><a href="#" target="_blank">Australian online store</a></li>
          </ul>
        </li>
        <li class="links-block">
          <h3>CHINA</h3>
          <ul>
            <li><a href="#" target="_blank">tagheuer.cn</a></li>
            <li><a href="#" target="_blank">体中文</a></li>
            <li><a href="#" target="_blank">繁體中文</a></li>
            <li><a href="#" target="_blank">English</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</footer>