
<!-- rezdy component -->
<div class="rezdy-component">
	<div id="tours-and-experience">
		<div class="text-component">
			<h2 class="title header_c">
				majesty
			</h2>
			<p>
				the first dhsdjaldldas
			</p>
			<h3>duation</h3>
			<span>45mins</span>
			<h3>availab</h3>
			<span>2 pm</span>
			<a href="" class="enquire-now"></a>

			<h3>cost</h3>
			<span>$18</span>
		</div>

		h2.title
		<div class="img-component">
			<picture>
				<source media="(min-width:990px)"
				srcset="images/kitten-stretching.png">
				<source media="(min-width: 690px)"
				srcset="images/kitten-sitting.png">
				<img src="images/kitten-curled.png" 
				alt="a cute kitten">
			</picture>
		</div>
	</div>
</div>