<section id="events-agenda" class="container shaded-component">
	<h2>Agenda</h2>

	<div class="events-container">
		<div class="event-dates">
			<div class="event-carousel">
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "25/07/2016","eventTitle": "tag heuer /formula1 australian grand prix","eventDescription": "Above 1251px resolutions, the.","eventImage": "assets/images/event-agenda.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "30/08/2016","eventTitle": "formula1 australian grand prix","eventDescription": "Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions","eventImage": "http://s6.favim.com/610/150425/adorable-animal-cat-cute-Favim.com-2680526.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "25/07/2016","eventTitle": "tag heuer /formula1 australian grand prix","eventDescription": "Above 1251px resolutions, the.","eventImage": "assets/images/event-agenda.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "30/08/2016","eventTitle": "formula1 australian grand prix","eventDescription": "Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions","eventImage": "http://s6.favim.com/610/150425/adorable-animal-cat-cute-Favim.com-2680526.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "25/07/2016","eventTitle": "tag heuer /formula1 australian grand prix","eventDescription": "Above 1251px resolutions, the.","eventImage": "assets/images/event-agenda.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "30/08/2016","eventTitle": "formula1 australian grand prix","eventDescription": "Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions","eventImage": "http://s6.favim.com/610/150425/adorable-animal-cat-cute-Favim.com-2680526.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "25/07/2016","eventTitle": "tag heuer /formula1 australian grand prix","eventDescription": "Above 1251px resolutions, the.","eventImage": "assets/images/event-agenda.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "30/08/2016","eventTitle": "formula1 australian grand prix","eventDescription": "Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions","eventImage": "http://s6.favim.com/610/150425/adorable-animal-cat-cute-Favim.com-2680526.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "25/07/2016","eventTitle": "tag heuer /formula1 australian grand prix","eventDescription": "Above 1251px resolutions, the.","eventImage": "assets/images/event-agenda.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "30/08/2016","eventTitle": "formula1 australian grand prix","eventDescription": "Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions","eventImage": "http://s6.favim.com/610/150425/adorable-animal-cat-cute-Favim.com-2680526.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "25/07/2016","eventTitle": "tag heuer /formula1 australian grand prix","eventDescription": "Above 1251px resolutions, the.","eventImage": "assets/images/event-agenda.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "30/08/2016","eventTitle": "formula1 australian grand prix","eventDescription": "Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions","eventImage": "http://s6.favim.com/610/150425/adorable-animal-cat-cute-Favim.com-2680526.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "25/07/2016","eventTitle": "tag heuer /formula1 australian grand prix","eventDescription": "Above 1251px resolutions, the.","eventImage": "assets/images/event-agenda.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "30/08/2016","eventTitle": "formula1 australian grand prix","eventDescription": "Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions","eventImage": "http://s6.favim.com/610/150425/adorable-animal-cat-cute-Favim.com-2680526.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "25/07/2016","eventTitle": "tag heuer /formula1 australian grand prix","eventDescription": "Above 1251px resolutions, the.","eventImage": "assets/images/event-agenda.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "30/08/2016","eventTitle": "formula1 australian grand prix","eventDescription": "Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions","eventImage": "http://s6.favim.com/610/150425/adorable-animal-cat-cute-Favim.com-2680526.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "25/07/2016","eventTitle": "tag heuer /formula1 australian grand prix","eventDescription": "Above 1251px resolutions, the.","eventImage": "assets/images/event-agenda.jpg"}}'>25/07/16</button></div>
				<div class="carousel-item"><button data-eventDetails='{"eventdata": {"eventDate": "30/08/2016","eventTitle": "formula1 australian grand prix","eventDescription": "Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions Above 1251px resolutions","eventImage": "http://s6.favim.com/610/150425/adorable-animal-cat-cute-Favim.com-2680526.jpg"}}'>25/07/16</button></div>
			</div>
		</div><div class="event-detail">
			<a href="#" class="eventDate" id="eventDate-info"></a>
			<h3 id="eventTitle"></h3>
			<p id="eventDescription"></p>
			<a href="#" class="cta light">Learn more</a>	
		</div><div class="event-picture"><img src="1x1.jpg" id="eventImage" alt="events-agenda" /></div>
	</div>
</section>