<div class="enquire-form">
	<div class="form-details">
		<h2>Enquire</h2>
		<p class="form-info">We’d love to tailor a package for you and your guests. Get in touch using the form below and we’ll get back to you as soon as possible.</p>
		<span class="form-guidelines">All fields marked * are required.</span>
	</div>	
	<div class="error-msg" id="errMsg">
		<div class="header_e">One or more required fields were not filled out correctly:</div>
		<div class="messages header_g"></div>
	</div>	
	<form name="enquire" action="" id="enquireUs">
		<div class="col-md-12 col-xs-12 col-sm-12 group">
			<input type="text" class="" id="name" placeholder="Firstname Surname" required />
			<span class="highlight"></span>
			<label for="name" class="header_f">NAME*</label>
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12 group">
			<input type="number" class="" id="phone" placeholder="Firstname Surname" required />
			<span class="highlight"></span>
			<label for="phone" class="header_f">PHONE NUMBER</label>
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12 group">
			<input type="email" class="" id="email"  placeholder="Firstname Surname" required />
			<span class="highlight"></span>
			<label for="email" class="header_f">Email Address*</label>
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12 group">
			<select required class="header_f">
				<option value="">TYPE OF FUNCTION</option>
				<option value="volvo">volvo</option>
				<option value="saab">saab</option>
				<option value="mercedes">mercedes</option>
				<option value="audi">audi</option>
			</select>
			<span class="highlight"></span>
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12 group">
			<select required class="header_f">
				<option value="">Number OF people*</option>
				<option value="volvo">volvo</option>
				<option value="saab">saab</option>
				<option value="mercedes">mercedes</option>
				<option value="audi">audi</option>
			</select>
			<span class="highlight"></span>
		</div>
		<div class="col-md-12 col-xs-12 col-sm-12 group">
			<input type="text" class="" id="info" required />
			<span class="highlight"></span>
			<label for="info" class="header_f label">Any other information</label>
		</div>
		<!-- <div class="col-md-6 col-xs-12 col-sm-12 group date-time">
			<input type="text" id="datepicker" class = "date" required>
			<span class="calender-icon"></span>
			<label  class="header_f">Date*</label>
		</div> -->
		<div class='col-md-6 col-xs-12 col-sm-12 group date' id='datetimepicker1'>
            <input type='text'  id="datepicker" required />
           	<span class="calender-icon"></span>
            <label class="header_f">Date*</label>
        </div>
	</form>
	<div class="submit-info col-md-12 col-xs-12 col-sm-12">
		<input type="checkbox" id="check" class="sr-only"  required/>
		<label for="check" class="header_g">Yes, sign me up to receive exclusive news, events and offers</label>
		<div class="cta-visitus">
			<button type="submit" class="cta dark submit-btn">Submit</button>
		</div>	
	</div>
</div>