 <div class="section-class img-left">
	<div class="image-wrapper">
			<picture>
				<source  media="(max-width: 321px)" srcset="http://www.artegence.pl/system/projects/pictures/000/000/050/original/370x370.jpg?1404313263" class="background-image">   
				<source  media="(max-width: 691px)" srcset="http://www.artegence.pl/system/projects/pictures/000/000/050/original/370x370.jpg?1404313263" class="background-image">
				<source  media="(max-width: 769px)" srcset="http://www.artegence.pl/system/projects/pictures/000/000/050/original/370x370.jpg?1404313263" class="background-image">  
				<source  media="(max-width: 1281px)" srcset="http://www.artegence.pl/system/projects/pictures/000/000/050/original/370x370.jpg?1404313263" class="background-image"> 
				<img src="http://www.artegence.pl/system/projects/pictures/000/000/050/original/370x370.jpg?1404313263" alt="Restuarant Chef">
			</picture>
		</div>
	 <div class="content-wrapper">
	   <h2 class="header_b header_sect">Vineyard Cycle Tour</h2>
	   <p class="tagline">Whether you’re looking for a guided wine tasting, business meeting space or a beautiful private dining venue, the Brancott Estate private room provides a stunning venue for smaller groups of up to 16 people.</p>
	   <a href="{{ fields.field_find_.content }}" class="cta dark watch-video">FIND OUT MORE</a>
	 </div>
</div>
<div class="section-class img-left">
	<div class="image-wrapper">
			<picture>
				<source  media="(max-width: 321px)" srcset="http://www.artegence.pl/system/projects/pictures/000/000/050/original/370x370.jpg?1404313263" class="background-image">   
				<source  media="(max-width: 691px)" srcset="http://www.artegence.pl/system/projects/pictures/000/000/050/original/370x370.jpg?1404313263" class="background-image">
				<source  media="(max-width: 769px)" srcset="http://www.artegence.pl/system/projects/pictures/000/000/050/original/370x370.jpg?1404313263" class="background-image">  
				<source  media="(max-width: 1281px)" srcset="http://www.artegence.pl/system/projects/pictures/000/000/050/original/370x370.jpg?1404313263" class="background-image"> 
				<img src="http://www.artegence.pl/system/projects/pictures/000/000/050/original/370x370.jpg?1404313263" alt="Restuarant Chef">
			</picture>
		</div>
	 <div class="content-wrapper">
	   <h2 class="header_b header_sect">Vineyard Cycle Tour</h2>
	   <p class="tagline">Whether you’re looking for a guided wine tasting, business meeting space or a beautiful private dining venue, the Brancott Estate private room provides a stunning venue for smaller groups of up to 16 people.</p>
	   <a href="{{ fields.field_find_.content }}" class="cta dark watch-video">FIND OUT MORE</a>
	 </div>
</div>
