<div id="vineyard-follow-us">
	<div class="image-wrapper">
		<div class="some-cls">
			<div class="image-wrapper">
				<img src="" alt="" class="insta-img">
				<img src="" alt="" class="insta-img">
			</div>
		</div>
		<div class="some-cls">
			<div class="image-wrapper">
				<img src="" alt="" class="insta-img">
				<img src="" alt="" class="insta-img">
			</div>
		</div>
		<div class="follow-us-text">
			<a href="" class="hashtag">#brancott</a>
			<h2 class="follow-text">followus</h2>
			<a href="" class="icon-Instagram"></a>
		</div>
	</div>
</div>

