<div class="article-body">
	<p class="body-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquet consequat auctor. Donec volutpat ipsum enim, vitae vestibulum risus dignissim et. Quisque sit amet sem eget magna faucibus mollis et eget nisi. Nunc dapibus sapien non massa molestie tincidunt. Proin quis leo ipsum. Aliquam in ante gravida, ullamcorper libero sed, vestibulum augue. Phasellus rhoncus scelerisque libero, ac vulputate ipsum facilisis eget. Morbi vitae semper ligula, quis bibendum nunc.</p>
	<a href="#" class="product-tile"> <img class="lazy" src="/assets/assets/images/1x1.gif" data-original="/assets/assets/images/watch-sample-5.png" alt="I'm a watch..." />
		<h4 class="watch-name">Watch Name</h4>
		<ul>
			<li>Calibre Value</li>
			<li>Movement Value</li>
			<li>Watch Diameter</li>
		</ul>
		<h4>3660$</h4> <span class="cta">Discover<span class="sr-only">the watch</span></span>
	</a>
</div>