<section style=" border:solid 1px black;">
    <style type="text/css">
      .hpnews-section {
          width: 650px; 
          border: 1px solid red; 
          display: block; 
          float: left;
          height: 800px;
        }
      
    
    </style>
<span style="text-align: center; display: block;">PARTNERSHIPS &amp; AMBASSADORS</span>
<h2>NEWS</h2>
<section class="hpnews-section" style=" border:solid 1px green; overflow:hidden; margin-right: 10px;">
    LEFT Section
    <section id="sub-collection" class="full-page-push" style="">
        <div class="banner-wrapper">
            <div class="banner responsive-bg" data-bannermobile="" data-bannerdesktop="" style="position: relative;">
                <img src="/assets/assets/images/watch-sample.png" alt="Content tile image">
                <div class="banner-content" style="position: absolute; bottom: 0; width: 90%; height: auto; left: 5%;"><h3>SPORTS</h3><h3>HERITAGE</h3><h3>ART &amp; MUSIC</h3><h3>LIFESTYLE</h3>
                <a href="#" style="float: right; color: white;">Skip</a>
                </div>
            </div>
        </div>
    </section>
</section>
<aside class="hpnews-section" style=" border:solid 1px red; overflow-y: scroll;">
    RIGHT Section
    <div class="content-tile" style="overflow: hidden; margin-bottom: 10px; background: white;">
        <span class="label-tag">label-tag</span>
        <img src="/assets/assets/images/content-tile-img.jpg" alt="Content tile image" style="float: left; width: 40%;">
        <div class="content-wrapper" style="float: left; width: 60%;">

            <div class="description">Time Left : 20 min</div>

            <h3><span class="highlight">LIVESTREAM</span> Happening now Watch Maria Sharapova now playing the female quarter final</h3>

            <div class="hashtags-list">
                <a href="#">hastags link text</a>
                <a href="#">hastags link text</a>
                <a href="#">hastags link text</a>
            </div>

        </div>
    </div>

    2nd Component - Product Tile - component 2

    <a href="#" class="product-tile" data-hover-background="/assets/assets/images/banner-image.jpg" style="overflow: hidden; margin-bottom: 10px; background: white; position: relative;">
        <span class="label-tag" style="position: absolute; top: 10px; left: 40%;">Limited Edition</span>
        <img src="/assets/assets/images/watch-sample.png" alt="I'm a watch...">
        <span class="refrence-no">REF. WAY211C.BA0928</span>
        <h4 class="watch-name">AQUARACER</h4>
        <ul>
            <li>Calibre 16 day-date</li>
            <li>Automatic Chronograph</li>
            <li>300 M - &empty;43 mm</li>
            <li><span class="feature-title">Case:</span> Fine-brushed and polished steel</li>
            <li><span class="feature-title">Dial:</span> Blue</li>
            <li><span class="feature-title">Bezel:</span> Blue ceramic</li>
            <li><span class="feature-title">Strap:</span> Steel</li>
        </ul>
        <h4>3685 $</h4>
        <span class="cta">Discover<span class="sr-only">the watch</span></span>
    </a>

    3rd Component - Content Tile - News Version - component 3
    <div class="content-tile" style="overflow: hidden; margin-bottom: 10px; background: white;">
        <span class="label-tag">label-tag</span>
        <img src="/assets/assets/images/content-tile-img.jpg" alt="Content tile image" style="float: left; width: 40%;">
        <div class="content-wrapper" style="float: left; width: 60%;">

            <div class="description">Time Left : 20 min</div>

            <h3><span class="highlight">LIVESTREAM</span> Happening now Watch Maria Sharapova now playing the female quarter final</h3>

            <div class="hashtags-list">
                <a href="#">hastags link text</a>
                <a href="#">hastags link text</a>
                <a href="#">hastags link text</a>
            </div>

        </div>
    </div>

    4rth Component - Content Tile - News Version - component 3
    <div class="content-tile" style="overflow: hidden; margin-bottom: 10px; background: white;">
        <span class="label-tag">label-tag</span>
        <img src="/assets/assets/images/content-tile-img.jpg" alt="Content tile image" style="float: left; width: 40%;">
        <div class="content-wrapper" style="float: left; width: 60%;">

            <div class="description">Time Left : 20 min</div>

            <h3><span class="highlight">LIVESTREAM</span> Happening now Watch Maria Sharapova now playing the female quarter final</h3>

            <div class="hashtags-list">
                <a href="#">hastags link text</a>
                <a href="#">hastags link text</a>
                <a href="#">hastags link text</a>
            </div>

        </div>
    </div>
  </aside>
</section>
