<div id="timeline-component">
  <h2 class="header_b">THE FIRST MARLBOROUGH SAUVIGNON BLANC</h2>
  
  <p class="common-margin">Until the 1970s, Marlborough was simply a pretty pocket of New Zealand, considered too cold for anything but sheep grazing. But here at Brancott Estate, we've always loved a challenge. Discover how our       founders went against the grain to create Marlborough's first ever Sauvignon Blanc, changing the face of the region forever.
  </p>
  <iframe class="youtube  common-margin" src="https://www.youtube.com/embed/S6AqAu1M_3Y?rel=0"></iframe>
  
  <span class="header_d line-bg">1970s</span>
  <h2 class="header_b">LAYING THE GROUNDWORK</h2>
  
  <p class="common-margin">In 1973, the first seedlings were planted at the Brancott Estate Vineyard. After two years of mixed success, we rethought tradition to take our vines in a new direction – literally. Thanks to the     region's sunny days and crisp nights, our grapes developed a unique and fresh flavour profile – and by 1979 Marlborough's first ever Sauvignon Blanc was born.
  </p>
  <img src="https://dummyimage.com/770x433/000/fff.png" alt="" />
  <img src="https://dummyimage.com/770x433/000/fff.png" alt="" />
   <iframe class="youtube common-margin" src="https://www.youtube.com/embed/XGSy3_Czz8k?rel=0"></iframe>
  
  
  <span class="header_d line-bg">1980s</span>
  <h2 class="header_b">LAYING THE GROUNDWORK</h2>
  <p>After our first release of Marlborough Sauvignon Blanc won Gold at the 1980 New Zealand Easter Show, we followed this with an equally successful first release of Fumé Blanc. Meanwhile, Marlborough was making a name for itself on the world stage, and the early 80s saw our first export of wine overseas, as well as the first ever shipment of Marlborough Sauvignon Blanc to the UK. By the end of the decade, our Marlborough Sauvignon Blanc was selected from more than 1100 Sauvignon Blancs to win the Marquis de Goulaine trophy at the 21st International Wine & Spirit Competition. 
  </p>
  
  <p class="quote common-margin">
  “Wines from here will become world famous”</p>
<span class="author">– Frank Yukich, Montana Wines founder</span>
  <img src="https://dummyimage.com/770x433/000/fff.png"  class="common-margin" alt="" />
  <span class="header_d line-bg">1990s</span>
  <h2 class="header_b">LAYING THE GROUNDWORK</h2>
 
  <p class="common-margin">1990 brought two very special people to our home. Firstly, Her Majesty, Queen Elizabeth II visited the Brancott Estate vineyard and planted a vine. Secondly, the team welcomed Patrick Materman, who would go on to become our Chief Winemaker. By the middle of the decade, we became the first Australasian winery to win an ISO 9001 global quality accreditation. Meanwhile, winemaker Andy Frost won White Winemaker of the Year and our 1996 Marlborough Chardonnay was voted International Wine of the Year at the London International Wine Challenge.
  </p>
  <div class="img-wrapper-horizontal common-margin">
<img src="https://dummyimage.com/370x370/000/fff.png" alt="" />
<img src="https://dummyimage.com/370x370/000/fff.png" alt="" />
<img src="https://dummyimage.com/370x370/000/fff.png" alt="" />
  </div>
  
  
  <span class="header_d line-bg">2000s</span>
  <h2 class="header_b">…while nurturing our roots</h2>
  <p class="common-margin">After becoming a founding member of Sustainable Winegrowing New Zealand, Brancott Estate became the world's first winery to install tipping tanks, allowing us to naturally extract even more goodness from each grape. We also became the first wine company in New Zealand to achieve five top international industry standards relating to quality, environment, health and safety. 2001 saw Patrick Materman win Winestate Magazine’s New Zealand Winemaker of the Year award, and our Vineyard continued to grow, with the first vintage of Sauvignon Gris in Marlborough.
  </p>
  
 
  
  <div class="img-wrapper-vertical common-margin">
    <img src=" https://dummyimage.com/770x433/000/fff.png" alt="" />
    <img src=" https://dummyimage.com/770x433/000/fff.png" alt="" />
    <img src=" https://dummyimage.com/770x433/000/fff.png" alt="" />
  </div>
  
  <h2 class="header_b">The next chapter</h2>
  <p class="common-margin">As our winery grows, so too do our ranges. 2010 saw the release of our Sparkling Sauvignon Blanc, as well as the Brancott Estate Letter Series ‘B’ Late-Harvest Sauvignon Blanc, one of the few Marlborough Sauvignon Blanc dessert wines on the market. Because our home is important to us, we also launched the Brancott Estate Living Land organic range, with a portion of sales going towards saving the endangered New Zealand falcon. And our signature Marlborough Sauvignon Blanc continues to hold its own worldwide with a flurry of awards and accolades, including the top spot on Wine.com's 2016 Top 10 List.
  </p>
   <div class="img-wrapper-vertical">
    <img src=" https://dummyimage.com/770x433/000/fff.png" alt="" />
    <img src=" https://dummyimage.com/770x433/000/fff.png" alt="" />
  </div>
</div>
<div class="full-width-image">
  <img src="https://dummyimage.com/1600x686/000/fff.png" alt="" />
</div>