<div class="wrapper-div">
        <div class="wrapper-head">
            <h2>NUTRITIONAL INFO</h2>
        </div>
        <div class="body-style">
            <h3>Marlborough Sauvignon Blanc 13.1% V/V</h3>
            <table>
                <thead>
                    <th>PER 10GR OF ALCOHOL (89ML)</th>
                    <th>PER 10GR OF ALCOHOL (89ML)</th>
                    <th>Per 150ml serving</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Alcohol (g)</td>
                        <td>74g</td>
                        <td>124g</td>
                    </tr>
                    <tr>
                        <td>Alcohol (g)</td>
                        <td>74g</td>
                        <td>124g</td>
                    </tr>
                    <tr>
                        <td>Alcohol (g)</td>
                        <td>74g</td>
                        <td>124g</td>
                    </tr>
                    <tr>
                        <td>Alcohol (g)</td>
                        <td>74g</td>
                        <td>124g</td>
                    </tr>
                    <tr>
                        <td>Alcohol (g)</td>
                        <td>74g</td>
                        <td>124g</td>
                    </tr>
                    <tr>
                        <td>Alcohol (g)</td>
                        <td>74g</td>
                        <td>124g</td>
                    </tr>
                    <tr>
                        <td>Alcohol (g)</td>
                        <td>74g</td>
                        <td>124g</td>
                    </tr>
                </tbody>
            </table>
            <p>* These calculations are based on the wine produced under this label in the current vintage. Variances of +/-10% might occur between vintages and market variants.</p>
            <p>For more information on responsible drinking and nutritional values visit:
<a href="#">www.wise-drinking.com</a>
<a href="#">www.wineinmoderation.com</a></p>
        </div>
    </div>