<div class="article-body">
	<div class="hpnews-section">
		<div class="news-category">
			<div class="content-tile sqaure-tile clearfix"> <img src="/assets/assets/images/content-tile-img.jpg" alt="Content tile image">
				<div class="content-wrapper">
					<h2>sdtdfhdfhgfjgftrhjgfjgfj</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim sapien laoreet tempor faucibus. Proin tincidunt neque mauris, a mollis risus luctus malesuada. Aenean ut rhoncus dolor. Nulla facilisi. Phasellus rhoncus nibh tortor, et luctus erat fringilla non. Quisque ac dictum urna.</p> <a href="#">READ THE ARTICLE</a> </div>
			</div>
		</div>
	</div>
	<div class="image-wrapper"> <img src="/assets/assets/images/content-tile-img.jpg" alt="Content tile image">
		<p class="legend">sdtdfhdfhgfjgftrhjgfjgfj</p>
	</div>
	<div class="social-wrapper">
<!--		embed widgets inside this -->
	</div>
</div>