<div class="error-page">
	<img src="http://brancottvanilla.dev.dd:8083/themes/sapient_brancott/css/images/homepage_hero_no_grain.jpg" alt="hero component background" class="background-image">
	<div class="error-info-wrapper">
		<h1 class="error-heading">Oops!</h1>
		<h2>This link may be broken or the page may have been removed.</h2>
	</div>
</div>	