 <div id="hero-component" class="container-fluid  hero-container" >
 	<img src="images/images/BE_key-visual-1-no_noise.png" alt="hero component background" class="background-image">
 	
 	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 hero-inner-container">
 		<h1>WHEN VINES WERE PLANTED ONE WAY, WE TOOK OURS INA BRIGHT NEW DIRECTION.</h1>
 		<a href="" class="cta dark find-out-more">
 			FIND OUT MORE
 		</a>
 	</div>
 	
 	<div class="hidden-sm hidden-xs hero-bottle-wrapper">
			<img class="hero-bottle" src="images/images/Brancott-Estate_Sauv_Blanc.png" alt="bottle">
	</div>
	
	<div class="cta-visitus">
	  	<a href="" class="cta light visit-all-wine">visit all wine</a>
	  	<a href="" class="cta light ">visit us</a>
	</div>
	<a href="" class="scroll-down">
		<span class="circle">
			<span class="arrow">
			</span>
		</span>
	</a>
 </div>

<div class="row sign-up-text-wrapper">                              
	<h1 class="sign-up-text header_c">Sign up to our news, events and exclusive offers.</h1>
	<a href="/en-au/node/209" class="cta dark">Sign up</a>
</div>