<section id="mm-header-wrapper" class="events-player">
	<section id="mm-header" class="video-player" style="background-image: url('/assets/assets/images/mm-shield.png'), url('/assets/assets/images/mm-header-bg.jpg');">
		<div class="video-wrapper counter-active">
		<div class="play-pause-warpper">
			<h3><a href="#">FOLLOW THE LIVE OF GODSPEED FESTIVAL</a></h3>
			<button class="play-video open-video icon cta dark" tabindex="0">play video</button>
			<button class="mm-header-close" tabindex="0">Stop Video</button>
	   	</div>  
			<div class="js-playpausevideo"> 
				<button class="play video-thumbnail">play</button>
				<button class="pause video-thumbnail">pause</button>
			</div>
			<iframe id="6fjd5e0mZvk" src="//www.youtube.com/embed/6fjd5e0mZvk?rel=0&amp;wmode=transparent&amp;version=3&amp;feature=player_embedded&amp;autoplay=0&amp;enablejsapi=1&amp;frameborder=0&amp;allowfullscreen" class="video-player" frameborder="0" allowfullscreen="" width=400 height=300></iframe>
			
		</div>                                            
		<div id="countdown_timer"></div>
		<input type="hidden" id="countdown_timer_year" value="2016" />
		<input type="hidden" id="countdown_timer_month" value="8" />
		<input type="hidden" id="countdown_timer_day" value="20" />
		<input type="hidden" id="countdown_timer_hour" value="11" />
		<input type="hidden" id="countdown_timer_minute" value="47" />
		<input type="hidden" id="countdown_timer_language" value="du" />
		<input type="hidden" id="event_status" value="HAPPENING NOW" />
	</section>
</section>
<section id="mm-introduction" class="news-mm-wrapper">
	<nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
		<ol>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/node">Node</a>
			</li>
		</ol>
	</nav>

	<div class="label-wrapper">
		<span class="label-tag">COMING SOON</span>
		<div class="description" style="display:none;">By <a href="/taxonomy/term/" class="author" tabindex="0"></a><a href="/taxonomy/term/96" hreflang="en" tabindex="0">Redacteur</a>, TAG Heuer team — 2 months ago</div>
		<div class="description-countdown">
			<h3 class="header_c">UNITED KINGDOM</h3>
			<a href="" target="_blank">VIEW MAP</a></div>
	</div>	
	<div class="date-display-wrapper">
		<div class="date-display">
			22 <span>JUN' 2016</span>
		</div> &mdash;
		<div class="date-display">
			25 <span>JUN' 2016</span>
		</div>
	</div>
	<h1>GOODSPEED FESTIVAL OF SPEED 2016</h1>
	<div class="intro-body">Quiet to furious, blue to grey, protecting, then  jeopardizing, the ambivalent ocean’s spell fascinates us all. But each of us has as a special relation to the ocean. Surfers, explorers, film directors, fishermen all have unique stories and personal experiences to share. Hold your breath, and dive in.</div>
</section>