<div class="stockists-where-to-buy">
  <h2 class="col-md-6 col-lg-6"> Stockists in Australia</h2>
  <p>Enjoy a taste of New Zealand, wherever you are. Find your local Brancott Estate wine stockist.</p>
  
  <div class="logo-text-container">
    <div class="inner-wrapper">
      <img width="179" height="49" src="http://www.crearlogogratis.com/wp-content/uploads/2015/08/logo-300x169.png" alt="" />
      <span class="header_c">
        First Choice Liquor
      </span>
    </div>
    <div class="inner-wrapper">
     <img width="179" height="49" src="http://www.crearlogogratis.com/wp-content/uploads/2015/08/logo-300x169.png" alt="" />
      <span class="header_c">
      Woolworths
      </span>
    </div>
    <div class="inner-wrapper">
     <img width="179" height="49" src="http://www.crearlogogratis.com/wp-content/uploads/2015/08/logo-300x169.png" alt="" />
      <span class="header_c">
        Dan Murphy’s
      </span>
    </div>
  </div>
</div>