<section id="competition-events" class="container"> <span class="pre-title">Goodwood festival of speed</span>
	<h2>Motor racing competition</h2>
	<p class="description">Become <span class="highlight">the Fastest Driver of TAG Heuer</span> in our driving simulators, and win an exclusive TAG Heuer prize.
		<br /> Test your lust for speed with TAG Heuer Team!</p>
	<div class="img-wrapper contest-visual">
		<div class="live-results"> <span class="live-results-head">Live Results</span><span class="live-results-body"><marquee>Kanishka testing marquee..</marquee></span> </div>
		<img src="/assets/assets/images/competition-large.jpg" alt="Competition Large Image" title="Competition Large Image" />
	</div>
	<h3>The TAG Heuer Prize for the competition</h3>
	<div class="img-wrapper description-visual">
		<div class="description-prize">
			<ul>
				<li><span>1ST Prize:</span> TAG Heuer leather jacket</li>
				<li><span>2ND Prize:</span> TAG Heuer leather messenger BAG</li>
				<li><span>3RD Prize:</span> TAG Heuer Phantomatik line all-in-one wallet</li>
			</ul>
		</div>
		<img src="/assets/assets/images/competition-main.jpg" alt="Competition Main Image" title="Competition Main Image" />
	</div>
	<div class="results-list-block">
		<ul>
			<li><span class="rank">1</span><span class="name">Ashley Babbra</span><span class="time"><span class="time">00:42:17</span></span></li>
			<li><span class="rank">2</span><span class="name">Fabricio Donso</span><span class="time"><span class="time">00:42:34</span></span></li>
			<li><span class="rank">3</span><span class="name">Thierry Kadish</span><span class="time"><span class="time">00:42:44</span></span></li>
			<li><span class="rank">4</span><span class="name">Arno Guidi</span><span class="time"><span class="time">00:42:45</span></span></li>
		</ul>
	</div>
</section>