<br><br><br><br><br><br><br><br><br><br>

<form name="site-search" id="site-search" action="">
	<div class="easy-autocomplete">
		<input type="text" name="q" id="site-search-suggestions" placeholder="Enter your search" /><input type="submit" class="cta dark" value="Click enter to search the site" />
	</div>
</form>