<section id="news-push-list-section" class="container scrollto" data-sticky-title="NEWS PUSH LIST">  
	<div class="news-push-list">
  
		<div class="news-push-list-wrapper">
         <div class="content-tile">
        	<span class="label-tag"><a href="/taxonomy/term/117" hreflang="en" tabindex="0">BREAKING NEWS</a></span>
            <a href = "#">
            <img src="http://tagheuer.vagrant.cross-systems.ch/sites/default/files/styles/global_content_tile/public/dummy-discover-01.jpg?itok=-fDkiWe7" alt="On the dusty roads of Mexico"> 
            <span class="time-display">2:23</span>
            </a>                            
            <div class="content-wrapper">
            	<div class="description">By <a href="/taxonomy/term/" class="author" tabindex="0"></a><a href="/taxonomy/term/96" hreflang="en" tabindex="0">Redacteur<span class="sr-only">All articles by Redacteur</span></a>, TAG Heuer team — 2 months ago</div>
               <h3 class="header_c"><a href="#" tabindex="0">Welcome to Baselworld 2016</a></h3>
               <div class="hashtags-list">
                  <a href="/taxonomy/term/94" hreflang="en" tabindex="0">Aquaracer</a>
                   <a href="/taxonomy/term/94" hreflang="en" tabindex="0">TagHeauerCarerra</a>
               </div>                           
            </div>
         </div>
      </div>

      <div class="news-push-list-wrapper">
         <div class="content-tile">
        	<span class="label-tag"><a href="/taxonomy/term/117" hreflang="en" tabindex="0">BREAKING NEWS</a></span>
            <a href = "#">
            <img src="http://tagheuer.vagrant.cross-systems.ch/sites/default/files/styles/global_content_tile/public/dummy-discover-01.jpg?itok=-fDkiWe7" alt="On the dusty roads of Mexico"> </a>                      
            <div class="content-wrapper">
            	<div class="description">By <a href="/taxonomy/term/" class="author" tabindex="0"></a><a href="/taxonomy/term/96" hreflang="en" tabindex="0">Redacteur <span class="sr-only">All articles by Redacteur</span></a>, TAG Heuer team — 2 months ago</div>
               <h3 class="header_c"><a href="#" tabindex="0">Watch the new TAG Heuer film, Under the Wave</a></h3>
               <div class="hashtags-list">
                  <a href="/taxonomy/term/94" hreflang="en" tabindex="0">Aquaracer</a>
                   <a href="/taxonomy/term/94" hreflang="en" tabindex="0">Surf</a>
               </div>                           
            </div>
         </div>
      </div>

      <div class="news-push-list-wrapper">
         <div class="content-tile">
        	<span class="label-tag"><a href="/taxonomy/term/117" hreflang="en" tabindex="0">BREAKING NEWS</a></span>
            <a href = "#">
            <img src="http://tagheuer.vagrant.cross-systems.ch/sites/default/files/styles/global_content_tile/public/dummy-discover-01.jpg?itok=-fDkiWe7" alt="On the dusty roads of Mexico"> </a>                      
            <div class="content-wrapper">
            	<div class="description">By <a href="/taxonomy/term/" class="author" tabindex="0"></a><a href="/taxonomy/term/96" hreflang="en" tabindex="0">Redacteur <span class="sr-only">All articles by Redacteur</span></a>, TAG Heuer team — 2 months ago</div>
               <h3 class="header_c"><a href="#" tabindex="0">TAG Heuer signs the Red Bull Racing Formula 1 team</a></h3>
               <div class="hashtags-list">
                  <a href="/taxonomy/term/94" hreflang="en" tabindex="0">TAGHeuerFormula1</a>
                   <a href="/taxonomy/term/94" hreflang="en" tabindex="0">RedBullRacing</a>
               </div>                           
            </div>
         </div>
      </div>

      <div class="news-push-list-wrapper">
         <div class="content-tile">
        	<span class="label-tag"><a href="/taxonomy/term/117" hreflang="en" tabindex="0">BREAKING NEWS</a></span>
            <a href = "#">
            <img src="http://tagheuer.vagrant.cross-systems.ch/sites/default/files/styles/global_content_tile/public/dummy-discover-01.jpg?itok=-fDkiWe7" alt="On the dusty roads of Mexico"> </a>                      
            <div class="content-wrapper">
            	<div class="description">By <a href="/taxonomy/term/" class="author" tabindex="0"></a><a href="/taxonomy/term/96" hreflang="en" tabindex="0">Redacteur <span class="sr-only">All articles by Redacteur</span></a>, TAG Heuer team — 2 months ago</div>
               <h3 class="header_c"><a href="#" tabindex="0">The TAG Heuer Aquaracer Calibre 5 Ceramic Bezel boasting brilliant sky and sea blue accents!</a></h3>
               <div class="hashtags-list">
                  <a href="/taxonomy/term/94" hreflang="en" tabindex="0">Aquaracer</a>
                   <a href="/taxonomy/term/94" hreflang="en" tabindex="0">TagHeauerCarerra</a>
               </div>                           
            </div>
         </div>
      </div>

      <div class="news-push-list-wrapper">
         <div class="content-tile">
        	<span class="label-tag"><a href="/taxonomy/term/117" hreflang="en" tabindex="0">BREAKING NEWS</a></span>
            <a href = "#">
            <img src="http://tagheuer.vagrant.cross-systems.ch/sites/default/files/styles/global_content_tile/public/dummy-discover-01.jpg?itok=-fDkiWe7" alt="On the dusty roads of Mexico"> </a>                      
            <div class="content-wrapper">
            	<div class="description">By <a href="/taxonomy/term/" class="author" tabindex="0"></a><a href="/taxonomy/term/96" hreflang="en" tabindex="0">Redacteur <span class="sr-only">All articles by Redacteur</span></a>, TAG Heuer team — 2 months ago</div>
               <h3 class="header_c"><a href="#" tabindex="0">A historic first. A street circuit in Paris for the 1st fully-electric FIA championship.</a></h3>
               <div class="hashtags-list">
                  <a href="/taxonomy/term/94" hreflang="en" tabindex="0">FIAChampionship</a>
                   <a href="/taxonomy/term/94" hreflang="en" tabindex="0">TagHeauerFormula1</a>
               </div>                           
            </div>
         </div>
      </div>

        <div class="news-push-list-wrapper">
         <div class="content-tile">
          <span class="label-tag"><a href="/taxonomy/term/117" hreflang="en" tabindex="0">BREAKING NEWS</a></span>
            <a href = "#">
            <img src="http://tagheuer.vagrant.cross-systems.ch/sites/default/files/styles/global_content_tile/public/dummy-discover-01.jpg?itok=-fDkiWe7" alt="On the dusty roads of Mexico"> </a>                      
            <div class="content-wrapper">
              <div class="description">By <a href="/taxonomy/term/" class="author" tabindex="0"></a><a href="/taxonomy/term/96" hreflang="en" tabindex="0">Redacteur <span class="sr-only">All articles by Redacteur</span></a>, TAG Heuer team — 2 months ago</div>
               <h3 class="header_c"><a href="#" tabindex="0">TAG Heuer proudly partners with the Great Ocean and Otway Ride.</a></h3>
               <div class="hashtags-list">
                  <a href="/taxonomy/term/94" hreflang="en" tabindex="0">TagHeauerFormula1</a>
                   <a href="/taxonomy/term/94" hreflang="en" tabindex="0">MarkBeratta</a>
               </div>                           
            </div>
         </div>
      </div>
	
   </div>
</section>