<div class="enquire-form">
	<div class="form-details">
		<h2>Enquire</h2>
		<p class="form-info">We’d love to tailor a package for you and your guests. Get in touch using the form below and we’ll get back to you as soon as possible.</p>
		<span class="form-guidelines">All fields marked * are required.</span>
	</div>	
		
	<form>
		<div class="col-md-12 col-xs-12 col-sm-12">
			<label for="name">Email:</label>
      		<input type="text" class="" id="name" placeholder="NAME">
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12">
			<label for="phone">Email:</label>
      		<input type="tel" class="" id="phone" placeholder="Phone number">
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12">
			<label for="email">Email:</label>
      		<input type="email" class="" id="email" placeholder="Email Address*">
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12">
			<label for="email">Email:</label>
      		<input type="email" class="" id="email" placeholder="Email Address*">
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12">
			<label for="email">Email:</label>
      		<input type="email" class="" id="email" placeholder="Email Address*">
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12">
			<label for="email">Type of function*</label>
      		<select>
				<option value="volvo">Cocktail Party</option>
				<option value="saab">Cocktail Party</option>
				<option value="mercedes">Cocktail Party</option>
				<option value="audi">Cocktail Party</option>
			</select>
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12">
			<label for="email">Number of people*</label>
      		<select>
				<option value="volvo">Cocktail Party</option>
				<option value="saab">Cocktail Party</option>
				<option value="mercedes">Cocktail Party</option>
				<option value="audi">Cocktail Party</option>
			</select>
		</div>
	</form>
</div>