<header id="main-header">
        <div class="menu-mobile"> <span class="icon-menu">MENU</span> </div>
        <div class="logo">
            <a href="#"> <img class="logo-desktop" src="/assets/assets/images/header-logo.png" alt="Header Logo" title="Header Logo" /> <img class="logo-mobile" src="/assets/assets/images/header-logo-mobile.png" alt="Header Logo" title="Header Logo" /> </a>
        </div>
        <nav class="main-nav">
            <ul>
                <li class="search visible-990">
                    <input type="text" class="search-box" placeholder="Search" /> </li>
                <li> <a class="has-icon" href="#menu-modal" data-menu-name="watches">Watches</a>
                    <div class="nav-content-container">
                        <div class="nav-content"> 
                        <a href="#" class="back">BACK</a>
                            <ul class="blocks-container">
                                <li class="menu-item-level-1 ">
                                    <h3>COLLECTIONS</h3>
                                    <ul>
                                        <li><a href="#" target="_blank">TAG Heuer Carrera</a></li>
                                        <li><a href="#" target="_blank">Aquaracer</a></li>
                                        <li><a href="#" target="_blank">TAG Heuer Connected</a></li>
                                        <li><a href="#" target="_blank">Link</a></li>
                                        <li><a href="#" target="_blank">TAG Heuer Formula 1</a></li>
                                        <li><a href="#" target="_blank">Monaco</a></li>
                                        <li><a href="#" target="_blank">All Watches</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-level-1">
                                    <h3>OFTEN SEARCHED FOR</h3>
                                    <ul>
                                        <li><a href="#" target="_blank">Offer watch Mother’s day</a></li>
                                        <li><a href="#" target="_blank">Cristiano Ronaldo watch</a></li>
                                        <li><a href="#" target="_blank">Smart watch TAG Heuer</a></li>
                                        <li><a href="#" target="_blank">Sports watch</a></li>
                                        <li><div class="more-link">
                    <a href="/" data-drupal-link-system-path="<front>" class="is-active">More</a>
                </div> 
                                        <div class="more-content">
                                        <a href="#" class="backlink back">BACK</a>
                                                <ul>
                                                    <li>
                                                        <h3>More Selections</h3>

                                                        <ul>
                                                            <li>
                                                                <a href="/" data-drupal-link-system-path="<front>" class="is-active">Smart Watch</a>

                                                            </li>
                                                            <li>
                                                                <a href="/" data-drupal-link-system-path="<front>" class="is-active">Smart Watch</a>

                                                            </li>
                                                            <li>
                                                                <a href="/" data-drupal-link-system-path="<front>" class="is-active">Smart Watch</a>

                                                            </li>
                                                            <li>
                                                                <a href="/" data-drupal-link-system-path="<front>" class="is-active">Smart Watch</a>

                                                            </li>
                                                        </ul>

                                                    </li>
                                                </ul>

                                            </div>

                                        </li>
                                    </ul>  
                                    </li>
                            </ul>
                           
                        </div>
                    </div>
                </li>
                <li> <a class="has-icon" href="#menu-modal" data-menu-name="partnerships">Partnerships</a> 
                <div class="nav-content-container">
                        <div class="nav-content"> 
                        <a href="#" class="back">BACK</a>
                            <ul class="blocks-container">
                                <li class="menu-item-level-1 ">
                                    <h3>COLLECTIONS partnership</h3>
                                    <ul>
                                        <li><a href="#" target="_blank">TAG Heuer Carrera</a></li>
                                        <li><a href="#" target="_blank">Aquaracer</a></li>
                                        <li><a href="#" target="_blank">TAG Heuer Connected</a></li>
                                        <li><a href="#" target="_blank">Link</a></li>
                                        <li><a href="#" target="_blank">TAG Heuer Formula 1</a></li>
                                        <li><a href="#" target="_blank">Monaco</a></li>
                                        <li><a href="#" target="_blank">All Watches</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-level-1">
                                    <h3>OFTEN SEARCHED FOR partnership</h3>
                                    <ul>
                                        <li><a href="#" target="_blank">Offer watch Mother’s day</a></li>
                                        <li><a href="#" target="_blank">Cristiano Ronaldo watch</a></li>
                                        <li><a href="#" target="_blank">Smart watch TAG Heuer</a></li>
                                        <li><a href="#" target="_blank">Sports watch</a></li>
                                        <li><div class="more-link">
                    <a href="/" data-drupal-link-system-path="<front>" class="is-active">More</a>
                </div> 
                                        <div class="more-content">
                                        <a href="#" class="backlink back">BACK</a>
                                                <ul>
                                                    <li>
                                                        <h3>More Selections</h3>

                                                        <ul>
                                                            <li>
                                                                <a href="/" data-drupal-link-system-path="<front>" class="is-active">Smart Watch</a>

                                                            </li>
                                                            <li>
                                                                <a href="/" data-drupal-link-system-path="<front>" class="is-active">Smart Watch</a>

                                                            </li>
                                                            <li>
                                                                <a href="/" data-drupal-link-system-path="<front>" class="is-active">Smart Watch</a>

                                                            </li>
                                                            <li>
                                                                <a href="/" data-drupal-link-system-path="<front>" class="is-active">Smart Watch</a>

                                                            </li>
                                                        </ul>

                                                    </li>
                                                </ul>

                                            </div>

                                        </li>
                                    </ul>  
                                    </li>
                            </ul>
                           
                        </div>
                    </div></li>
                <li> <a class="has-icon" href="#menu-modal"  data-menu-name="ambassadors">Ambassadors</a>
                    <div class="nav-content-container">
                        <div class="nav-content"> 
                        <a href="#" class="back">BACK</a>
                            <ul class="blocks-container">
                                <li class="menu-item-level-1 ">
                                    <h3>COLLECTIONS ambassadors</h3>
                                    <ul>
                                        <li><a href="#" target="_blank">TAG Heueambassadorr Carrera</a></li>
                                        <li><a href="#" target="_blank">Aquaracer</a></li>
                                        <li><a href="#" target="_blank">TAG Heuer Connected</a></li>
                                        <li><a href="#" target="_blank">Link</a></li>
                                        <li><a href="#" target="_blank">TAG Heuer Formula 1</a></li>
                                        <li><a href="#" target="_blank">Monaco</a></li>
                                        <li><a href="#" target="_blank">All Watches</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-level-1">
                                    <h3>OFTEN SEARCHED FOR ambassador</h3>
                                    <ul>
                                        <li><a href="#" target="_blank">Offer watch Mother’s day</a></li>
                                        <li><a href="#" target="_blank">Cristiano Ronaldo watch</a></li>
                                        <li><a href="#" target="_blank">Smart watch TAG Heuer</a></li>
                                        <li><a href="#" target="_blank">Sports watch</a></li>
                                        <li><div class="more-link">
                    <a href="/" data-drupal-link-system-path="<front>" class="is-active">More</a>
                </div> 
                                        <div class="more-content">
                                        <a href="#" class="backlink back">BACK</a>
                                                <ul>
                                                    <li>
                                                        <h3>More Selections</h3>

                                                        <ul>
                                                            <li>
                                                                <a href="/" data-drupal-link-system-path="<front>" class="is-active">Smart Watch</a>

                                                            </li>
                                                            <li>
                                                                <a href="/" data-drupal-link-system-path="<front>" class="is-active">Smart Watch</a>

                                                            </li>
                                                            <li>
                                                                <a href="/" data-drupal-link-system-path="<front>" class="is-active">Smart Watch</a>

                                                            </li>
                                                            <li>
                                                                <a href="/" data-drupal-link-system-path="<front>" class="is-active">Smart Watch</a>

                                                            </li>
                                                        </ul>

                                                    </li>
                                                </ul>

                                            </div>

                                        </li>
                                    </ul>  
                                    </li>
                            </ul>
                           
                        </div>
                    </div>


                 </li>
                <li> <a class="has-icon" href="#menu-modal">Savoir-Faire</a> </li>
                <li> <a class="has-icon icon-care" href="#menu-modal">Customer Service</a> </li>
                <li class="visible-990"> <a class="has-icon icon-language" href="#menu-modal">Change Language</a> </li>
                <li class="visible-990"> <a class="has-icon icon-profil" href="#menu-modal">My Tag Heuer</a> </li>
                <li class="visible-990"> <a class="has-icon icon-shop" href="#menu-modal">Locate A Store</a> </li>
            </ul>
        </nav>
        <nav class="icon-nav">
            <ul>
                <li> <a href="#"><span class="icon icon-language"><span class="tip">Language</span></span></a> </li>
                <li> <a href="#"><span class="icon icon-search"><span class="tip">Search</span></span></a> </li>
                <li> <a href="#" class="badge" data-badge="0"><span class="icon icon-profile"><span class="tip">Profile</span></span></a> </li>
                <li> <a href="#"><span class="icon icon-shop"><span class="tip">Shop</span></span></a> </li>
                <li> <a href="#" class="badge" data-badge="1"><span class="icon icon-cart"><span class="tip">Cart</span></span></a> </li>
            </ul>
        </nav>
   
    <div class="remodal headerModal" data-remodal-id="menu-modal">
       
        <div class="modal-body">
       
       
        </div>
         <a href="#" data-remodal-action="close" class="remodal-close close-button"></a>
    </div>
   
</header>