
<section id="visit-us" class="container-fluid">
	<div class="top-section" >
		<h1 class="header_e">VISIT US</h1>
		<h2  class="header_a">OUR CELLER DOOR</h2>
		<p class="description-visit-us">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
	</div>

	<div class="tile-container">
		<a href="" class="cta dark visit-us-cta" title="visit us">visit us</a>
		<div class="inner-tile col-md-6 col-sm-12 col-xs-12">
			<div class="small grow">
				<img class= "tile-background" src="images/images/BE_vineyard.jpg" alt="visitus1">
			</div>
			<div class="big grow">
				<img class= "tile-background" src="images/images/foeehr4mkrq-samuel-zeller.jpg" alt="visitus2">
				<div class="wrapper">
					<h3 class="header_b">experience our vineyard</h3>
					<span>learn about</span>
					<a href="" class="cta light">see tours</a>		
				</div>
			</div>
		</div>
		<div class="inner-tile col-md-6 col-sm-12 col-xs-12">
			<div class="big grow">
				<img class= "tile-background" src="images/images/chef.jpg" alt="visitus3">
				<div class="wrapper">
					<h3 class="header_b">wine and dine</h3>
					<span>unique dining experience</span>
					<a href="" class="cta light">find out more</a>
				</div>
			</div>
			<div class="small grow">
				<img class= "tile-background" src="images/images/BE-private-events.jpg" alt="visitus4">	
				<div class="wrapper">
					<h3 class="header_b">hosting private events</h3>
					<span>impres your guests</span>
					<a href="" class="cta light">find out more</a>
				</div>
			</div>
		</div>
	</div>

</section>