<section id="contact-us-component">
    <h2 class="header_b">Contact Brancott Estate </h2>
    <div class="wrapper">
        <span class="header_f"> Customer Service </span>
        <p class="body">Phone: <a href="tel:+61 1300 363 153">+61 1300 363 153</a></p>
        <a href="#">Email us</a>
    </div>
    <div class="wrapper">
        <span class="header_f"> Cellar Door </span>
        <address class="body">Brancott Estate Heritage Centre<br>
        180 Brancott Road, R.D.2<br>
        BLENHEIM</address>
        <p class="body">Phone: <a href="tel:+64 03 520 6975">+64 03 520 6975</a></p>
        <a href="#">Email us</a>
    </div>
    <div class="wrapper">
        <span class="header_f"> General Enquiries </span>
        <p class="address-body">Phone: <a href="tel:+64 9 336 8300">+64 9 336 8300</a></p>
        <a href="#">Email us</a>
    </div>
</section>