<section id="" class="container brand-DNA-push scrollto" data-sticky-title="brandDNA">
   <span class="title-tag">GOODWOOD FESTIVAL OF SPEED</span>
   <h2>OUR MOTOR RACING DNA</h2>
   <div class="brand-push-list">
      <div class="brand-push-list-wrapper">
         <div class="content-tile">
            <a href = "#">
            <img src="http://tagheuer.vagrant.cross-systems.ch/sites/default/files/styles/global_content_tile/public/dummy-discover-01.jpg?itok=-fDkiWe7" alt="On the dusty roads of Mexico"> </a>                      
            <div class="content-wrapper">
               <h3 class="header_b"><a href="#" tabindex="0">Volkswagen</a></h3>
               <div class="description">Lorem ipsum dolor sit amet, consectetur adipsiting elit, sed  do elumsmod</div>
               <div class="hashtags-list">
                  <a href="/taxonomy/term/94" hreflang="en" tabindex="0">MotorRacing</a>
               </div>
               <a href="node/325" class="cta light" tabindex="0">DISCOVER<span class="sr-only">screen reader only content</span></a>                             
            </div>
         </div>
      </div>
      <div class="brand-push-list-wrapper">
         <div class="content-tile">
            <a href = "#">
            <img src="http://tagheuer.vagrant.cross-systems.ch/sites/default/files/styles/global_content_tile/public/dummy-discover-01.jpg?itok=-fDkiWe7" alt="On the dusty roads of Mexico"></a>                    
            <div class="content-wrapper">
               <h3 class="header_b"><a href="#" tabindex="0">Daniel Ricciardo</a></h3>
               <div class="description">Lorem ipsum dolor sit amet, consectetur adipsiting elit, sed  do elumsmod</div>
               <div class="hashtags-list">
                  <a href="/taxonomy/term/94" hreflang="en" tabindex="0">MotorRacing</a>
               </div>
               <a href="node/325" class="cta light" tabindex="0">DISCOVER<span class="sr-only">screen reader only content</span></a>                             
            </div>
         </div>
      </div>
      <div class="brand-push-list-wrapper">
         <div class="content-tile">
            <a href = "#">
            <img src="http://tagheuer.vagrant.cross-systems.ch/sites/default/files/styles/global_content_tile/public/dummy-discover-01.jpg?itok=-fDkiWe7" alt="On the dusty roads of Mexico"></a>                    
            <div class="content-wrapper">
               <h3 class="header_b"><a href="#" tabindex="0">MGXP</a></h3>
               <div class="description">Lorem ipsum dolor sit amet, consectetur adipsiting elit, sed  do elumsmod</div>
               <div class="hashtags-list">
                  <a href="/taxonomy/term/94" hreflang="en" tabindex="0">MotorRacing</a>
               </div>
               <a href="node/325" class="cta light" tabindex="0">DISCOVER<span class="sr-only">screen reader only content</span></a>                             
            </div>
         </div>
      </div>
      <div class="brand-push-list-wrapper">
         <div class="content-tile">
            <a href = "#">
            <img src="http://tagheuer.vagrant.cross-systems.ch/sites/default/files/styles/global_content_tile/public/dummy-discover-01.jpg?itok=-fDkiWe7" alt="On the dusty roads of Mexico"></a>                       
            <div class="content-wrapper">
               <h3 class="header_b"><a href="#" tabindex="0">Steve McQueen</a></h3>
               <div class="description">Lorem ipsum dolor sit amet, consectetur adipsiting elit, sed  do elumsmod</div>
               <div class="hashtags-list">
                  <a href="/taxonomy/term/94" hreflang="en" tabindex="0">MotorRacing</a>
               </div>
               <a href="node/325" class="cta light" tabindex="0">DISCOVER<span class="sr-only">screen reader only content</span></a>                             
            </div>
         </div>
      </div>
      <div class="brand-push-list-wrapper">
         <div class="content-tile">
            <a href = "#">
            <img src="http://tagheuer.vagrant.cross-systems.ch/sites/default/files/styles/global_content_tile/public/dummy-discover-01.jpg?itok=-fDkiWe7" alt="On the dusty roads of Mexico"></a>                       
            <div class="content-wrapper">
               <h3 class="header_b"><a href="#" tabindex="0">FIA Formula-e</a></h3>
               <div class="description">Lorem ipsum dolor sit amet, consectetur adipsiting elit, sed  do elumsmod</div>
               <div class="hashtags-list">
                  <a href="/taxonomy/term/94" hreflang="en" tabindex="0">MotorRacing</a>
               </div>
               <a href="node/325" class="cta light" tabindex="0">DISCOVER<span class="sr-only">screen reader only content</span></a>                             
            </div>
         </div>
      </div>
   </div>
</section>