<section id="diaporama" class="diaporama-section container scrollto" data-sticky-title="Diaporama">
    <span class="title-tag">Red Bull</span>
    <h2>Diaporama</h2>
        <div class="title-description">
        through tthe eye  <span>  through tthe eye </span>   through tthe eye    through tthe eye    through tthe eye    
    </div>
    <div data-carousel data-carousel-bp1600="4" data-carousel-bp1250="3" data-carousel-bp990="2" data-carousel-bp690="1" class="diaporama-carousel">
        <div class="carousel-item">
            <a href="#diaporama-modal" data-image-number="0"><img data-lazy="/assets/assets/images/img-ambassador-heritage-01.jpg" alt=""><span class="expand-thumb" alt=""></span>
                <div class="overlay">
                    <div class="overlay-content">
                        <h3>Grand prix</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </a>
        </div>
		<div class="carousel-item">
            <a href="#diaporama-modal" data-image-number="1"><img data-lazy="/assets/assets/images/img-ambassador-heritage-02.jpg" alt=""><span class="expand-thumb" alt=""></span>
                <div class="overlay">
                    <div class="overlay-content">
                        <h3>Grand prix</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="#diaporama-modal" data-image-number="2"><img data-lazy="/assets/assets/images/img-ambassador-heritage-03.jpg" alt=""><span class="expand-thumb" alt=""></span>
                <div class="overlay">
                    <div class="overlay-content">
                        <h3>Grand prix</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="#diaporama-modal" data-image-number="3"><img data-lazy="/assets/assets/images/img-ambassador-lifestyle-01.jpg" alt=""><span class="expand-thumb" alt=""></span>
                <div class="overlay">
                    <div class="overlay-content">
                        <h3>Grand prix</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="#diaporama-modal" data-image-number="4"><img data-lazy="/assets/assets/images/img-ambassador-lifestyle-02.jpg" alt=""><span class="expand-thumb" alt=""></span>
                <div class="overlay">
                    <div class="overlay-content">
                        <h3>Grand prix</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="#diaporama-modal" data-image-number="5"><img data-lazy="/assets/assets/images/img-ambassador-lifestyle-03.jpg" alt=""><span class="expand-thumb" alt=""></span>
                <div class="overlay">
                    <div class="overlay-content">
                        <h3>Grand prix</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="#diaporama-modal" data-image-number="6"><img data-lazy="/assets/assets/images/img-ambassador-heritage-01.jpg" alt=""><span class="expand-thumb" alt=""></span>
                <div class="overlay">
                    <div class="overlay-content">
                        <h3>Grand prix</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="remodal" data-remodal-id="diaporama-modal">
        <a href="#" data-remodal-action="close" class="remodal-close close-button"></a>
        <div data-carousel data-carousel-bp1600="1" data-carousel-bp1250="1" data-carousel-bp990="1" data-carousel-bp690="1" class="diaporama-carousel-modal">
            <div class="carousel-item"><div class="carousel-title">Image Name</div><img data-lazy="/assets/assets/images/img-ambassador-heritage-01.jpg" alt=""><div class="carousel-description">Image Description Image Description Image Description Image Description Image Description Image Description Image Description Image Description Image Description Image Description Image Description Image Description Image Description Image Description Image Description Image Description Image Description Image Description Image Description Image Description Image Description </div></div>
            <div class="carousel-item"><div class="carousel-title">Image Name</div><img data-lazy="/assets/assets/images/img-ambassador-heritage-02.jpg" alt=""><div class="carousel-description">Image Description Image Description Image Description Image Description Image Description Image Description Image Description </div></div>
            <div class="carousel-item"><div class="carousel-title">Image Name</div><img data-lazy="/assets/assets/images/img-ambassador-heritage-03.jpg" alt=""><div class="carousel-description">Image Description Image Description Image Description Image Description Image Description Image Description Image Description </div></div>
            <div class="carousel-item"><div class="carousel-title">Image Name</div><img data-lazy="/assets/assets/images/img-ambassador-lifestyle-01.jpg" alt=""><div class="carousel-description">Image Description Image Description Image Description Image Description Image Description Image Description Image Description </div></div>
            <div class="carousel-item"><div class="carousel-title">Image Name</div><img data-lazy="/assets/assets/images/img-ambassador-lifestyle-02.jpg" alt=""><div class="carousel-description">Image Description Image Description Image Description Image Description Image Description Image Description Image Description </div></div>
            <div class="carousel-item"><div class="carousel-title">Image Name</div><img data-lazy="/assets/assets/images/img-ambassador-lifestyle-03.jpg" alt=""><div class="carousel-description">Image Description Image Description Image Description Image Description Image Description Image Description Image Description </div></div>
            <div class="carousel-item"><div class="carousel-title">Image Name</div><img data-lazy="/assets/assets/images/img-ambassador-heritage-01.jpg" alt=""><div class="carousel-description">Image Description Image Description Image Description Image Description Image Description Image Description Image Description </div></div>
        </div>
    </div>
	<input type="hidden" value="" id="slide-clicked" />
    <div id="end-diaporama"></div>
</section>