<section id="search-results" data-sticky-title="search result">
<form name="site-search" id="site-search-results" action="">
	<div class="typeahead-container">
		<input type="text" name="q" id="site-search-suggestions" placeholder="Enter your search" /><input type="submit" class="cta dark" value="Click enter to search the site" />
	</div>
</form>

<div class="open-search-filters">
	<span class="show-only">Show only:</span>
	<button class="toggle-filter"></button>
</div>
<button class="close-search-filters">X<span class="sr-only">Close</span></button>
<div class="filter-wrapper">

	<ul class="filters-search">	
		<li class="filter">
			<label for="">Show only:</label>
		</li>
		<li class="filter">
			<input type="checkbox" name="" value='watches'>
			<label for="" class="filter-text">Watches</label>
		</li>
		<li class="filter">
			<input type="checkbox" name="" value='news'>
			<label for="" class="filter-text">News</label>
		</li>
		<li class="filter">
			<input type="checkbox" name="" value='ambassadors'>
			<label for="" class="filter-text">Ambassadors</label>
		</li>
		<li class="filter">
			<input type="checkbox" name="" value='partnerships'>
			<label for="" class="filter-text">Partnerships</label>
		</li>
		<li class="filter">
			<input type="checkbox" name="" value='events'>
			<label for="" class="filter-text">Events</label>
		</li>
		<li class="filter">
			<input type="checkbox" name="" value='savoire_faire'>
			<label for="" class="filter-text">Savoire-faire</label>
		</li>
		<button class="cta dark apply-filter">Apply</button>
	</ul>
</div>

<div class="description total-results">
	<span class="result-count"></span>
	<span class="result-text"></span>
	<span class="search-text"> </span>
</div>

<div class="no-results"></div>

<ul class="search-result-wrapper">

</ul>
<button class="cta dark load-more-search-result">load more</button>
</section>