<div class= "cookie-notification-wrapper">
	<p class="content-wrapper header_f">
		How we use cookies: This website uses cookies so that we can provide you with the best user experience and to deliver advertising messages and offers on the website that are relevant to you. To read more about the cookies we use and to change your settings see our cookies policy.
	</p>

	<span class="close-btn"></span>
</div>