<section id="introductive-title" class="container scrollto" data-sticky-title="AUTOMATIC" data-sticky_parent>
	<section class="introductive-title">
		<div class="introductive-title-wrapper">
			<h1 data-sticky_column>ELECTRO MECHANICAL <span> &mdash; </span><span class="mobile-title-border"><span class="sr-only">mobile_title_border</span></span></h1>
			<div class="description">An automatic movement is a mechanical watch movement that is wound by the motion of the wearer's watch.</p>
		</div>
	</section>
	<div data-carousel="" data-carousel-bp1600="3" data-carousel-bp1250="3" data-carousel-bp990="2" data-carousel-bp690="1" class="calibre-tiles-carousel">
		<div class="content-tile">    
	   		 <a href="#">
	   		 	<img class="lazy" src="/assets/assets/images/1x1.gif" data-original="/assets/assets/images/dial-image.png" alt=""/>		
	    	</a>
	    	<div class="content-wrapper">			
				<h3><a href="#" tabindex="0">CALIBRE HEUER 01 TAG HEUER SWISS MADE</a></h3>
				<div class="description">Diameter: 29.3 mm (13'') - 39 rubies</div>
				<a href="#" class="cta light" role="button">DISCOVER<span class="sr-only">screen_reader_only_content</span></a>
			</div>
  		</div>

  		<div class="content-tile">    
	   		 <a href="#">
	   		 	<img class="lazy" src="/assets/assets/images/1x1.gif" data-original="/assets/assets/images/dial-image.png" alt=""/>			
	    	</a>
	    	<div class="content-wrapper">			
				<h3><a href="#" tabindex="0">CALIBRE HEUER 01 TAG HEUER SWISS MADE</a></h3>
				<div class="description">Diameter: 29.3 mm (13'') - 39 rubies</div>
				<a href="#" class="cta light" role="button">DISCOVER<span class="sr-only">screen_reader_only_content</span></a>
			</div>
  		</div>

  		<div class="content-tile">    
	   		 <a href="#">
	   		 	<img class="lazy" src="/assets/assets/images/1x1.gif" data-original="/assets/assets/images/dial-image.png" alt=""/>			
	    	</a>
	    	<div class="content-wrapper">			
				<h3><a href="#" tabindex="0">CALIBRE HEUER 01 TAG HEUER SWISS MADE</a></h3>
				<div class="description">Diameter: 29.3 mm (13'') - 39 rubies</div>
				<a href="#" class="cta light" role="button">DISCOVER<span class="sr-only">screen_reader_only_content</span></a>
			</div>
  		</div>

  		<div class="content-tile">    
	   		 <a href="#">
	   		 	<img class="lazy" src="/assets/assets/images/1x1.gif" data-original="/assets/assets/images/dial-image.png" alt=""/>		
	    	</a>
	    	<div class="content-wrapper">			
				<h3><a href="#" tabindex="0">CALIBRE HEUER 01 TAG HEUER SWISS MADE</a></h3>
				<div class="description">Diameter: 29.3 mm (13'') - 39 rubies</div>
				<a href="#" class="cta light" role="button">DISCOVER<span class="sr-only">screen_reader_only_content</span></a>
			</div>
  		</div>

  		<div class="content-tile">    
	   		 <a href="#">
	   		 	<img class="lazy" src="/assets/assets/images/1x1.gif" data-original="/assets/assets/images/dial-image.png" alt=""/>		
	    	</a>
	    	<div class="content-wrapper">			
				<h3><a href="#" tabindex="0">CALIBRE HEUER 01 TAG HEUER SWISS MADE</a></h3>
				<div class="description">Diameter: 29.3 mm (13'') - 39 rubies</div>
				<a href="#" class="cta light" role="button">DISCOVER<span class="sr-only">screen_reader_only_content</span></a>
			</div>
  		</div>

  		<div class="content-tile">    
	   		 <a href="#">
	   		 	<img class="lazy" src="/assets/assets/images/1x1.gif" data-original="/assets/assets/images/dial-image.png" alt=""/>		
	    	</a>
	    	<div class="content-wrapper">			
				<h3><a href="#" tabindex="0">CALIBRE HEUER 01 TAG HEUER SWISS MADE</a></h3>
				<div class="description">Diameter: 29.3 mm (13'') - 39 rubies</div>
				<a href="#" class="cta light" role="button">DISCOVER<span class="sr-only">screen_reader_only_content</span></a>
			</div>
  		</div>

  		<div class="content-tile">    
	   		 <a href="#">
	   		 	<img class="lazy" src="/assets/assets/images/1x1.gif" data-original="/assets/assets/images/dial-image.png" alt=""/>		
	    	</a>
	    	<div class="content-wrapper">			
				<h3><a href="#" tabindex="0">CALIBRE HEUER 01 TAG HEUER SWISS MADE</a></h3>
				<div class="description">Diameter: 29.3 mm (13'') - 39 rubies</div>
				<a href="#" class="cta light" role="button">DISCOVER<span class="sr-only">screen_reader_only_content</span></a>
			</div>
  		</div>

  		<div class="content-tile">    
	   		 <a href="#">
	   		 	<img class="lazy" src="/assets/assets/images/1x1.gif" data-original="/assets/assets/images/dial-image.png" alt=""/>		
	    	</a>
	    	<div class="content-wrapper">			
				<h3><a href="#" tabindex="0">CALIBRE HEUER 01 TAG HEUER SWISS MADE</a></h3>
				<div class="description">Diameter: 29.3 mm (13'') - 39 rubies</div>
				<a href="#" class="cta light" role="button">DISCOVER<span class="sr-only">screen_reader_only_content</span></a>
			</div>
  		</div>
    </div>
</section>